{% extends 'base.html' %}{% load bootstrap3 %}

{% load cms_tags %}

{% block page_title %}Register{% endblock page_title %}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="login-banner register">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-2">
                <h1>Register</h1>
            </div>
            <div class="col-md-4 col-md-push-2 text-right">
                <p>Already a member? <a href="{% url 'login' %}">Sign in</a>.</p>
            </div>
        </div>
    </div>
</div>

<div class="container"><div class="row">
    <div class="col-md-8 col-md-push-2">
          <form class="rpds-form" method="post" action="">
            {% include "forms/_non_field_errors.html" %}
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    <h4><label for="{{ field.id_for_label }}">
                        {{ field.label }}{% if field.field.required %} <span class="required">*</span>{% endif %}
                    </label></h4>
                    {{ field }}
                    {% if field.help_text %}
                    <p class="helptext">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="float-buttons">
                <button type="submit" class="btn btn-primary">
                  Register
                </button>
            </div>
          </form>
    </div>
</div></div>
{% endblock content %}
