*.db
.*.swp
*.pyc
__pycache__
*.tar
*.tgz
*.tar.gz
*.bz2
*.zip
*~
*\#
*.bak
*.log
.DS_Store
.idea
.env
solr-*/
bin
docs/build
settings.py
/backups/
/env/
/log/
/media/
/private/
/static/
.sass-cache
styles.css
rlp/core/static/css/*.css
*.css.map
