# Site
SITE_PREFIX=sobc

# PostgreSQL
DATABASE_URL="postgres://web@127.0.0.1:5432/sobc"

# Cache Settings
#CACHE_URL="rediscache://127.0.0.1:6379:1?client_class=django_redis.client.DefaultClient"
# Swap for local dev
CACHE_URL=locmemcache://

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=")!@y(_a9@pbbc8d1yidg9v18m1_y*4o(ha5a076*86_#*zxb43"

DJANGO_ALLOWED_HOSTS=.rapidscience.org

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# HAVOC settings
HAVOC_BASE_URL=
HAVOC_USER=
HAVOC_TOKEN=
VOCABS=

# Other App Settings
TOKEN_SALT=
