# Site
SITE_PREFIX=chci

# PostgreSQL
DATABASE_URL="postgres://web@127.0.0.1:5432/chci"

# Cache Settings
#CACHE_URL="rediscache://127.0.0.1:6379:1?client_class=django_redis.client.DefaultClient"
# Swap for local dev
CACHE_URL=locmemcache://

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY="#%tzafgek_re-^81%8#_@&l@7*ebvg1no!kz7n@a07hesgezy7"

DJANGO_ALLOWED_HOSTS=.chcimedicalhumanities.org

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=
RSADMIN_EMAIL="support@rapidscience.org"

# HAVOC settings
HAVOC_BASE_URL=
HAVOC_USER=
HAVOC_TOKEN=
VOCABS=

# Other App Settings
TOKEN_SALT=
CRDB_SERVER_EMAIL=
CRDB_BCC_LIST=
