# The following requirements are for development tools
# which should NOT be installed on production machines.
# This helps avoid issues from stray `ipdb.set_trace()` etc.

# Install base requirements
--requirement=requirements.txt

ipdb

selenium==2.53.6

-e git+https://github.com/django-debug-toolbar/django-debug-toolbar.git#egg=django-debug-toolbar
