# Toggle between the sites by commenting/uncommenting the following imports:
from .settings_sobc import *
# from .settings_chci import *

DEBUG = True

# Disable real-time Haystack index so tests pass. It would require more work than is currently warranted to mock search.
HAYSTACK_SIGNAL_PROCESSOR = 'haystack.signals.BaseSignalProcessor'

# Edit to add ID
ZOTERO_URL = "https://api.zotero.org/groups/INSERT-ID-HERE/items/top?start=%%START%%&limit=%%NUM_PER_PAGE%%&sort=dateAdded&format=json"

MEDIA_URL = '/media/'
STATIC_URL = '/static/'

COMPRESS_OUTPUT_DIR = ''
COMPRESS_OFFLINE = False

SECURE_PROXY_SSL_HEADER = None
SECURE_SSL_REDIRECT = False

SESSION_COOKIE_SECURE = False

CSRF_COOKIE_SECURE = False

# Dump all emails to console so we don't risk sending emails
# when using production data
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# This effectively disables any server side caching in development
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

# Uncomment the following two lines to enable django-debug-toolbar:
INSTALLED_APPS += ('debug_toolbar',)
MIDDLEWARE_CLASSES += ('debug_toolbar.middleware.DebugToolbarMiddleware',)

DEBUG_TOOLBAR_CONFIG = {
    'JQUERY_URL': '',
}
