{% load core_tags thumbnail %}
{% user_can_link obj as can_link %}
{% thumbnail obj.upload 700x160 crop upscale HIGH_RESOLUTION as thumbnail %}
<a href="{{ obj.upload.url }}" target="_blank">
  <img class="thumbnail-image" alt="{{ obj.title }}" src="{{ thumbnail.url }}" width="100%">
</a>

<h4>
    {% if can_link %}<a href="{{ obj.get_absolute_url }}">{% endif %}
        {{ obj.title }}
    {% if can_link %}</a>{% endif %}
</h4>

{% if obj.description %}
  <div class="more">{% autoescape off %}{{ obj.description }}{% endautoescape %}</div>
{% endif %}

{% if action.verb == 'shared' %}
    <p class="small meta">
        Posted by
        <a href="{% url 'profile' obj.owner_id  %}">{{ obj.owner }}</a>
        | {{ obj.date_updated|date:"j M Y" }}<br />
      {% display_shared_with obj request.user %}
    </p>
{% endif %}

