{% extends 'base.html' %}{% load bootstrap3 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-push-2">
<h2>{% if document %}Edit{% else %}Upload{% endif %} Document</h2>

<form method="post" enctype="multipart/form-data" action="">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button class="btn btn-primary" type="submit">
    Save
  </button>
  <a role="button" class="btn btn-default" href="{% url 'dashboard' %}">
    Cancel
  </a>
</form>
</div>
</div>
</div>
{% endblock content %}
