{% extends 'base.html' %}{% load comments embed_video_tags %}

{% block body_class %}document-detail{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-push-2">
  {% with obj=document %}
  <div class="row">
    <div class="col-md-12">
      {% if last_viewed_path %}
      <p class="backlink"><a href="{{ last_viewed_path }}">&larr; Back</a></p>
      {% endif %}
      <a class="share-link pull-right" href="/send/documents/document/{{ obj.id }}"><i class="fa fa-share"></i></a>
      <h1 class="detail-view-heading">{{ obj.title }}</h1>
      <p class="small">
        {% include 'actstream/_action_detail.html' with action=document.action_object_actions.first %}
        {% if request.user == obj.owner %} | <a href="{% url 'documents:document_edit' obj.id %}">Edit</a>{% endif %} <br />
        Shared with <b>{{ obj.get_viewers|join:"</b>, <b>" }}</b>
      </p>
      {% if obj.description %}<p class="initial">{{ obj.description|urlize }}</p>{% endif %}
      {% if document.polymorphic_ctype.model == 'file' %}
        <p class="initial"><a class="btn btn-primary" href="{{ obj.upload.url }}" target="_blank">
          Download
      </a></p>
      {% elif document.polymorphic_ctype.model == 'image' %}
        <a href="{{ obj.upload.url }}" target="_blank">
          <img alt="{{ obj.title }}" src="{{ obj.upload.url }}" width="{% if obj.upload.width < 500 %}{{ obj.upload.width }}{% else %}500px{% endif %}">
        </a>
      {% elif document.polymorphic_ctype.model == 'link' %}
        <blockquote>
        <a href="{{ obj.url }}" target="_blank">
          {{ obj.url }}
        </a>
        </blockquote>
      {% elif document.polymorphic_ctype.model == 'video' %}
        {% video obj.share_link as shared_video %}
        {% video shared_video 'medium' %}
        {% endvideo %}
      {% endif %}
      {% with tags=obj.tags.all %}
        {% if tags %}
          <p class="tags">
          {% for tag in obj.tags.all %}
            {% if tag.slug != '' %}
            <a role="button" class="btn btn-tag btn-xs" href="{% url 'haystack_search' %}?tags={{ tag.id }}">
              {{ tag }}
            </a>
            {% endif %}
          {% endfor %}
          </p>
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <hr>
  {% render_comment_form for obj %}
  <br>
  {% render_comment_list for obj %}
</div>
</div>
</div>
{% endwith %}
{% endblock content %}
