{% load staticfiles %}
<link rel="shortcut icon" href="{% static 'sobc/favicon.ico' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'sobc/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" href="{% static 'sobc/favicon-32x32.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'sobc/favicon-16x16.png' %}" sizes="16x16">
<link rel="manifest" href="{% static 'sobc/manifest.json' %}">
<link rel="mask-icon" href="{% static 'sobc/safari-pinned-tab.svg' %}" color="#00aeef">
<meta name="theme-color" content="#ffffff">
