{% load cms_tags staticfiles thumbnail %}
{% for project in top_level_projects %}
 <div class="project-preview">
    <h3>
        <a href="{{ project.get_absolute_url }}">
            {{ project.title }}
        </a>
    </h3>
    <p class="group-status">
        {% if project.approval_required %}
            Closed Group
        {% else %}
            Open Group
        {% endif %}
    </p>
    {% if user in project.active_members %}
    <span class="join-button">Member</span>
    {% else %}
    <a class="join-button" href="{% url 'projects:projects_join' project.id %}">
        <i class="fa fa-plus"></i> Join
    </a>
    {% endif %}
    {% if project.cover_photo %}
        <img src="{% thumbnail project.cover_photo 570x120 crop upscale subject_location=project.cover_photo.subject_location %}" />
    {% elif project.approval_required %}
        <img class="default" src='{% static "img/bg-cc-med.jpg" %}'>
    {% else %}
        <img class="default" src='{% static "img/bg-group1-med.jpg" %}'>
    {% endif %}
    {% if project.meta_description %}
        <p class="project-desc">{{ project.meta_description }}</p>
    {% endif %}
    <p>Moderators: </p>
</div>
{% endfor %}

<ul>
{% for topic in topics %}
<li>
<a data-toggle="collapse" class="collapsed" href="#{{ topic.title|slugify }}">
    <span class="glyphicon glyphicon-triangle-right"></span>
    <span class="glyphicon glyphicon-triangle-bottom"></span>
    {{ topic.title }}
</a>
<ul id="{{ topic.title|slugify }}" class="list-unstyled">
{% for project in topic.project_set.all %}
    <li>
      <a href="{{ project.get_absolute_url }}">
        <strong>{{ project.title }}</strong>
      </a>
    {% if project.institution %}({{ project.institution.name }}){% endif %}
    </li>
{% endfor %}
</ul>
</li>
{% endfor %}
</ul>
