{% extends "left_col.html" %}{% load bootstrap3 cms_tags comments discussion_tags project_tags %}{% load static from staticfiles %}

{% block css %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/chosen/chosen.min.css' %}" media="screen">
{% endblock css %}

{% block hero %}
    <div class="hero">
        <div class="image-container">
            {% if project.institution and project.institution.banner_image %}
                <img src="{{ project.institution.banner_image.url }}">
            {% else %}
                {% include 'projects/_institution_hero_image.html' %}
            {% endif %}
        </div>
        <div class="container">
            <div class="col-md-8">
                <h1><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h1>
                {% if project.institution %}<p>{{ project.institution }}</p>{% endif %}
            </div>
        </div>
    </div>
{% endblock hero %}

{% block left_column %}
  {% if project.goal %}
  <div class="box">
    <p class="section-label">Goal</p>
    <p>{{ project.goal }}</p>
  </div>
  {% endif %}
  {% show_project_members project %}
{% endblock left_column %}

{% block main_content %}
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"{% if tab == 'activity' %} class="active"{% endif %}>
                <a href="{{ project.get_absolute_url }}">Activity</a>
            </li>
            <li role="presentation"{% if tab == 'discussions' %} class="active"{% endif %}>
                <a href="{% url 'projects:projects_discussions' pk=project.pk slug=project.slug %}">Discussions</a>
            </li>
            <li role="presentation"{% if tab == 'casereports' %} class="active"{% endif %}>
                <a href="{% url 'projects:projects_casereports' pk=project.pk slug=project.slug %}">Case Reports</a>
            </li>
            <li role="presentation"{% if tab == 'documents' %} class="active"{% endif %}>
                <a href="{% url 'projects:projects_documents' pk=project.pk slug=project.slug %}">Documents &amp; Media</a>
            </li>
            <li role="presentation"{% if tab == 'bibliography' %} class="active"{% endif %}>
                <a href="{% url 'projects:projects_bibliography' pk=project.pk slug=project.slug %}">Bibliography</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if tab == 'activity' %} active{% endif %}" id="activity">
          {% if tab == 'activity' %}
            {% bootstrap_messages %}
            <form class="form-inline" action="" method="get">
              {% bootstrap_field filter_form.content_type show_label=False %}
              <button class="btn btn-primary" type="submit">
                Filter
              </button>
            </form>
            <hr>
            {% include page_template %}
          {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'documents' %} active{% endif %}" id="documents">
          {% if tab == 'documents' %}
            {% bootstrap_messages %}
            {% if user_interaction %}
            <div>
              <a href="{% url 'documents:add_document' %}" class="btn btn-primary">
                Add File
              </a>
              <a href="{% url 'documents:add_link' %}" class="btn btn-primary">
                Add Link
              </a>
              <a href="{% url 'documents:add_video' %}" class="btn btn-primary">
                Add Video
              </a>
            </div>

            <hr>
            {% endif %}

            {% for doc in documents %}
            <div class="row">
              <div class="col-md-11">
                <h3><a href="{{ doc.get_absolute_url }}">{{ doc.title }}</a></h3>
                <p>{{ doc.description|urlize }}</p>
              </div>
              <div class="col-md-1">
                {% with obj=doc %}
                  {% if obj.owner == request.user %}
                    {% include 'forms/_edit_dropdown.html' with edit_url=obj.get_edit_url delete_url=obj.get_delete_url %}
                  {% endif %}
                {% endwith %}
              </div>
            </div>
            <hr>
            {% endfor %}

            {% include page_template %}
          {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'discussions' %} active{% endif %}" id="discussions">
          {% if tab == 'discussions' %}
            {% bootstrap_messages %}
            {% if user_interaction %}
            {% with object=project %}
              <div class="clearfix">
                <button class="btn btn-primary pull-right" data-toggle="collapse" href="#topic-form">
                  New Comment
                </button>
              </div>
              <div id="topic-form" class="collapse">
                <p>Start a discussion or post your ideas</p>
                {% with button_label='Post' %}
                {% render_comment_form for object %}
                {% endwith %}
              </div>

            {% endwith %}
            <hr>
            {% endif %}
            {% include page_template %}
          {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'casereports' %} active{% endif %}" id="casereports">
          {% if tab == 'casereports' %}
            {% bootstrap_messages %}
            {% block project_casereport %}
            {% for report in case_reports %}
            <p><a href="{% url 'casereport_detail' case_id=report.id title_slug=report.title|slugify %}">
              {{ report.title }}
            </a></p>
            {% endfor %}
            <hr>
            {% include page_template %}
            {% endblock project_casereport %}
          {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'bibliography' %} active{% endif %}" id="bibliography">
          {% if tab == 'bibliography' %}
            {% bootstrap_messages %}
            {% if user_interaction %}
            <div>
              <a role="button" href="{% url 'bibliography:reference_search' %}" class="btn btn-primary">
                Add Reference
              </a>
            </div>
            <hr>
            {% endif %}
            {% for ref in references %}
              {% if ref.owner == request.user %}{% include 'forms/_edit_dropdown.html' with edit_url=ref.get_edit_url delete_url=ref.get_delete_url %}{% endif %}
              {% include 'bibliography/_reference.html' with obj=ref.reference %}
            {% endfor %}
            {% include page_template %}
          {% endif %}
        </div>
    </div>
{% endblock main_content %}

{% block js-footer %}{{ block.super }}
  <script src="{% static 'js/vendor/chosen/chosen.jquery.min.js' %}"></script>
{% endblock js-footer %}
