{% extends "left_col.html" %}{% load bootstrap3 cms_tags comments discussion_tags project_tags %}{% load static from staticfiles %}

{% block css %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/chosen/chosen.min.css' %}" media="screen">
{% endblock css %}

{% block hero %}
    {% if project.cover_photo %}
    <div class="hero" style="background-image: url('{{ project.cover_photo.url }}')">
    {% elif project.approval_required %}
    <div class="hero" style="background-image: url('{% static "img/bg-cc-med.jpg" %}')">
    {% else %}
    <div class="hero" style="background-image: url('{% static "img/bg-group1-med.jpg" %}')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="group-header"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h1>
                </div>
                <div class="col-md-3 col-md-push-1">
                    <ul class="fa-ul add-links">
                        {% if request.user in project.active_members %}
                            <li><a href="{% url 'discussion-create' %}">
                                <i class="fa-li fa fa-plus-circle" aria-hidden="true"></i> Discussion
                            </a></li>
                            <li><a href="{% url 'crdb:add_casereport' %}">
                                <i class="fa-li fa fa-plus-circle" aria-hidden="true"></i> Case Report
                            </a></li>
                            <li><a href="{% url 'documents:add_media' %}">
                                <i class="fa-li fa fa-plus-circle" aria-hidden="true"></i> Document / Media
                            </a></li>
                            <li><a href="{% url 'bibliography:reference_search' %}">
                                <i class="fa-li fa fa-plus-circle" aria-hidden="true"></i> Reference
                            </a></li>
                        {%  else %}
                            {%  comment %} TODO: make this a component:  join_botton {% endcomment %}
                            {% if request.user.is_anonymous %}
                                <a class="join-button" href="{% url 'register'  %}"> <i class="fa fa-plus"></i> Register to Join </a>
                            {%  elif request.user in project.pending_members %}
                                <span class="join-button"> Membership Pending </span>
                            {% else %}
                                <a class="join-button" href="{% url 'projects:projects_join' project.id %}"> <i class="fa fa-plus"></i> Join </a>
                            {% endif %}
                        {%  endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock hero %}

{% block left_column %}
  <div class="box">
    <p class="section-label">About<span style="float:right">{%  if request.user in project.moderators %} <a href="{%  url 'projects:projects_edit' project.pk project.slug %}#" class="edit-group-link" title="Edit group">
      <i class="fa fa-cog"></i>
    </a>{%  endif %}</span></p>
    <p class="group-approval">{% if project.approval_required %}Closed{% else %}Open{% endif %} Group</p>
  {% if project.goal %}
    <p class="group-goal">{{ project.goal }}</p>
  {% endif %}
  </div>
  {% show_project_members project %}

  <div class="overlay-form" id="project-invite">
    <form method="post" action="{% url 'projects:projects_invite' project.pk project.slug %}">
        <i class="fa fa-times-circle-o close-overlay"></i>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Done" class="btn btn-primary">
        <input type="submit" value="Cancel" class="btn close-overlay">
    </form>
  </div>


  <div class="overlay-form" id="edit-group">
    <form method="post" action="{% url 'projects:projects_edit' project.pk project.slug %}">
        <i class="fa fa-times-circle-o close-overlay"></i>
        {% csrf_token %}
        {{ edit_group_form.as_p }}
        <input type="submit" value="Done" class="btn btn-primary">
        <input type="submit" value="Cancel" class="btn close-overlay">
    </form>
  </div>




{% endblock left_column %}

{% block main_content %}
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"{% if tab == 'activity' %} class="active"{% endif %}>
                <a href="{{ project.get_absolute_url }}">Activity</a>
            </li>
            <li role="presentation"{% if tab == 'discussions' %} class="active"{% endif %}>
                <a href="{% url 'projects:projects_tab' pk=project.pk slug=project.slug tab='discussions' %}">Discussions</a>
            </li>
            <li role="presentation"{% if tab == 'casereports' %} class="active"{% endif %}>
                <a href="{% url 'projects:projects_tab' pk=project.pk slug=project.slug tab='casereports' %}">Case Reports</a>
            </li>
            <li role="presentation"{% if tab == 'documents' %} class="active"{% endif %}>
                <a href="{% url 'projects:projects_tab' pk=project.pk slug=project.slug tab='documents' %}">Docs/Media</a>
            </li>
            <li role="presentation"{% if tab == 'bibliography' %} class="active"{% endif %}>
                <a href="{% url 'projects:projects_tab' pk=project.pk slug=project.slug tab='bibliography' %}">Bibliography</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if tab == 'activity' %} active{% endif %}" id="activity">
          {% if tab == 'activity' %}
            {% bootstrap_messages %}
            <form class="form-inline" action="" method="get">
              {% bootstrap_field filter_form.content_type show_label=False %}
              <button class="btn btn-primary" type="submit">
                Filter
              </button>
            </form>
            <hr>
            {% include page_template %}
          {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'documents' %} active{% endif %}" id="documents">
          {% if tab == 'documents' %}
            {% bootstrap_messages %}

            {% for obj in documents %}
                {% include "documents/listing_preview.html" %}
            {% endfor %}

          {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'discussions' %} active{% endif %}" id="discussions">
          {% if tab == 'discussions' %}
            {% bootstrap_messages %}
            {% if user_interaction %}
            {% endif %}
            {% with view='tab-content' %}
                {% include page_template %}
            {% endwith %}
          {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'casereports' %} active{% endif %}" id="casereports">
          {% if tab == 'casereports' %}
            {% bootstrap_messages %}

            {% for obj in case_reports %}
                {% include "casereport/listing_preview.html" %}
            {% endfor %}
          {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'bibliography' %} active{% endif %}" id="bibliography">
          {% if tab == 'bibliography' %}
            {% bootstrap_messages %}
            {% if user_interaction %}
            <div>
              <a role="button" href="{% url 'bibliography:reference_search' %}" class="btn btn-primary">
                Add Reference
              </a>
            </div>
            <hr>
            {% endif %}
            {% for ref in references %}
              {% include 'bibliography/_reference.html' with obj=ref %}
            {% endfor %}
          {% endif %}
        </div>
    </div>
{% endblock main_content %}

{% block js-footer %}{{ block.super }}
  <script src="{% static 'js/vendor/chosen/chosen.jquery.min.js' %}"></script>
{% endblock js-footer %}
