{% extends 'cms/single_col.html' %}
{% load cms_tags project_tags %}{% load static from staticfiles %}

{% block hero %}
<div class="hero projects">
    <div class="container">
      <h1>Groups</h1>
      <div class="image-container">
        {% placeholder 'hero-image' %}
      </div>
      <div class="container">
        <div class="col-md-8">
          {% placeholder 'hero-text' %}
        </div>
      </div>
  </div>
</div>
{% endblock hero %}

{% block main_content %}
  {% projects_sidebar %}
{% endblock main_content %}
