$body: #888;
$body-secondary: #666;
$brand-primary:         #3792bf;
$body-bg:               #eee;
$btn-primary-bg:                           #3792bf;
$btn-primary-border:                       #3792bf;
$navbar-default-color:                     #f6eee3;
$navbar-default-link-color:                #f6eee3;
$navbar-default-link-hover-color:          #f6eee3;
$navbar-default-link-active-color:         #f6eee3;
$navbar-default-brand-color:               #dd3131;
$navbar-default-brand-hover-color:         #f6eee3;
$dropdown-bg:                              #332f2d;
$dropdown-link-color:                      #f6eee3;
$dropdown-link-hover-color:                #f6eee3;
$dropdown-link-hover-bg:                   #888;