$body: #888;
$body-secondary: #666;
$brand-primary:         #2c3d96;
$body-bg:               #eee;
$navbar-default-link-color:                #2c3d96;
$navbar-default-link-hover-color:          #662d91;
$navbar-default-link-active-color:         #000;
