{% extends 'single_col.html' %}
{% load bootstrap3 staticfiles %}

{% block page_title %}About Sarcoma Central{% endblock page_title %}

{% block body_class %}about{% endblock %}

{% block content %}
    <div class="bannerTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>About Sarcoma Central</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 content">
                <p class="section-label">The Community</p>
                <p>Sarcoma Central is an international community of clinical researchers and healthcare professionals who study and treat this deadly cancer.  Because sarcoma comprises dozens of subtypes involving many unique (and largely unidentified) mutations, it is mission critical to aggregate, compare and discuss anonymized patient data. This is facilitated by  our custom database, Cases Central, through which members can share data within open or closed groups of validated professionals or to the wider open access community.​​​​​​​</p>
                <p>In addition to sharing data, Sarcoma Central members discuss the latest published evidence and their current research within and among groups of their making. This collaborative approach will lead more rapidly to effective measures of prevention, early detection, and therapies.</p>
                <p>This <a href="http://www.rapidscience.org/collaboration-platform/" target="_blank"> 5-minute video</a> demonstrates key features of the Collaboration Platform – e.g., how to post, share and comment upon documents, media, references and more; how to join and create open and closed groups; and submitting/sharing anonymized patient data. See also our  <a href="http://www.rapidscience.org/collaboration-platform/" target="_blank"> Frequently Asked Questions </a> for more details.</p>
                <p><em>There is no charge for sarcoma researchers and practitioners to register and interact with their colleagues on this site. Simply click the Register link in the menu above and get started.</em></p>

                <p class="section-label">Rapid Science</p>
                <p>Sarcoma Central is a channel on the nonprofit (501c3) platform, <a href="http://www.rapidscience.org/" target="_blank">Rapid Science</a>.  The mission of Rapid Science is to facilitate and reward collaboration. We’re piloting in fields of biomedicine where data sharing and rapid exchange of findings can have immediate benefits for patients and for translational research. The <a href="http://www.rapidscience.org/collaboration-platform/" target="_blank"> Rapid Science Collaboration Platform</a> will be the first truly dynamic research venue where the act of publishing is incidental to the search for faster, better cures.</p>
                <p>See more about our collaboration tools, editorial services for facilitating open communication, and C-Score reward metric at <a href="http://rapidscience.org" target="_blank">http://rapidscience.org</a>.</p>

                <p class="section-label">Our Team</p>
                <p>Rapid Science founder Sarah Greene is a publishing entrepreneur whose products have included the updateable protocol manuals Current Protocols and Best Practice of Medicine. Chairman of the Board is Dr. Bruce Alberts, former editor of Science and president of the National Academy of Sciences. Sarcoma Central was conceived of and initiated by Dr. George Demetri, a clinical researcher at Dana Farber Cancer Institute. For more information about the team, including our many dedicated advisors, see the <a href="http://www.rapidscience.org/About/" target="_blank"> Rapid Science About</a> page. We can be reached at info at rapidscience dot org.</p>

                <p class="section-label">Our Supporters</p>
                <p>We deeply appreciate the generous support from the companies and organizations noted below. In the early days of our startup, individuals from these groups understood and encouraged our mission.</p>

                <div class="row">
                  <div class="col-md-3">
                      <div class="partner-logo"><a href="https://www.bayer.com" target="_blank"><img src="http://rapidscience.org/sarcoma/images/partners/bayer.png" /></a></div>
                  </div>
                  <div class="col-md-6">
                      <div class="partner-logo col-2"><a href="http://www.columbia.edu" target="_blank"><img src="http://rapidscience.org/sarcoma/images/partners/columbia.png" /></a></div>
                  </div>
                  <div class="col-md-3">
                      <div class="partner-logo"><a href="https://www.lilly.com" target="_blank"><img src="http://rapidscience.org/sarcoma/images/partners/lilly.png"/></a></div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                       <div class="partner-logo"><a href="http://www.emdserono.com" target="_blank"><img src="http://rapidscience.org/sarcoma/images/partners/emdserono.png" /></a></div>
                  </div>
                  <div class="col-md-4">
                      <div class="partner-logo"><a href="http://www.janssen.com" target="_blank"><img src="http://rapidscience.org/sarcoma/images/partners/janssen.png" /></a></div>
                  </div>
                  <div class="col-md-4">
                      <div class="partner-logo"><a href="https://mellon.org" target="_blank"><img src="http://rapidscience.org/sarcoma/images/partners/mellon.png" /></a></div>
                  </div>
                </div>

                 <div class="row">
                  <div class="col-md-4">
                       <div class="partner-logo"><a href="https://www.moore.org" target="_blank"><img src="http://rapidscience.org/sarcoma/images/partners/moore.png" /></a></div>
                  </div>
                  <div class="col-md-4">
                      <div class="partner-logo"><a href="https://www.nih.gov" target="_blank"><img src="http://rapidscience.org/sarcoma/images/partners/nih.png" /></a></div>
                  </div>
                  <div class="col-md-4">
                      <div class="partner-logo"><img src="http://rapidscience.org/sarcoma/images/partners/peakedhill.png" /></div>
                  </div>
                </div>

            </div>
        </div>
    </div>



{% endblock content %}
