{% extends 'single_col.html' %}
{% load bootstrap3 staticfiles %}

{% block page_title %}About Sarcoma Central{% endblock page_title %}

{% block body_class %}about{% endblock %}

{% block content %}
    <div class="bannerTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>About Sarcoma Central</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 content">
                <p class="section-label">The Community</p>
                <p>Sarcoma Central is an international community of clinical researchers and healthcare professionals who study and treat this deadly cancer.  Because sarcoma comprises dozens of subtypes involving many unique (and largely unidentified) mutations, it is mission critical to aggregate, compare and discuss anonymized patient data. This is facilitated by  our custom database, Cases Central, through which members can share data within open or closed groups of validated professionals or to the wider open access community.​​​​​​​</p>
                <p>In addition to sharing data, Sarcoma Central members discuss the latest published evidence and their current research within and among groups of their making. This collaborative approach will lead more rapidly to effective measures of prevention, early detection, and therapies.</p>

                <p class="section-label">Rapid Science</p>
                <p>Sarcoma Central is a channel on the nonprofit (501c3) platform, Rapid Science.  The mission of Rapid Science is to facilitate and reward collaboration. We’re piloting in fields of biomedicine where data sharing and rapid exchange of findings can have immediate benefits for patients and for translational research. The Rapid Science platform will be the first truly dynamic research venue where the act of publishing is incidental to the search for faster, better cures.</p>

                <p class="section-label">Our Team</p>
                <p>Rapid Science founder Sarah Greene is a publishing entrepreneur whose products have included the updateable protocol manuals Current Protocols and Best Practice of Medicine. Chairman of the Board is Dr. Bruce Alberts, former editor of Science and president of the National Academy of Sciences. Sarcoma Central was conceived of and initiated by Dr. George Demetri, a clinical researcher at Dana Farber Cancer Institute. For more information about the team, including our many dedicated advisors, see the Rapid Science About page.</p>

                <p class="section-label">Our Supporters</p>
                <p>We deeply appreciate the generous support from the companies and organizations noted below. In the early days of our startup, individuals from these groups understood and encouraged our mission.</p>

                <img src="/static/img/about-logos.png" alt="Logos for Bayer, Columbia University, Lilly, EMD Serono, Janssen, The Andrew W. Mellon Foundation, NIH" />
            </div>
        </div>
    </div>

{% endblock content %}
