{% extends 'single_col.html' %}
{% load bootstrap3 staticfiles %}

{% block page_title %}Sarcoma Central{% endblock page_title %}

{% block body_class %}home{% endblock %}

{% block content %}
    <div class="bannerTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Sarcoma Central</h1>
                    <div class="largetext">A <strong>FREE</strong> communication platform and database for sarcoma professionals.</div>
                    <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
                    <p><a href="{% url 'login' %}">Already have an account? Sign in</a>.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 content">
                <i class="fa fa-users"></i>
                <h3>Network with your peers</h3>
                <p>Join and create open or closed groups on topics such as GIST, SARC, radiotherapy, combination therapies, DFCI, CTCs, PD-1 trials, TK inhibitors.</p>
            </div>
            <div class="col-md-4 col-sm-12 content">
                <i class="fa fa-comments"></i>
                <h3>Accelerate discovery</h3>
                <p>Share and discuss research results, patient data, meeting plans, and the latest published evidence.</p>
            </div>
            <div class="col-md-4 col-sm-12 content">
                <i class="fa fa-heartbeat"></i>
                <h3>Contribute patient data</h3>
                <p>Submit real-world data via simplified template, free text, or uploaded PDFs. We standardize in Cases Central database for enhanced searching.</p>
            </div>
            <div class="col-sm-12 content">
                <a href="http://www.rapidscience.org/sarcoma-central" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>



{% endblock content %}
