{% extends 'single_col.html' %}
{% load bootstrap3 staticfiles %}

{% block page_title %}Sarcoma Central{% endblock page_title %}

{% block body_class %}home{% endblock %}

{% block content %}
    <div class="bannerTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Sarcoma Central</h1>
                    <h2>A FREE communication platform and database for sarcoma professionals.</h2>
                    <a href="" class="btn">Register</a>
                    <p>Already have an account? <a href="">Sign in</a>.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 content">
                

            </div>
        </div>
    </div>



{% endblock content %}
