{% extends 'single_col.html' %}
{% load bootstrap3 staticfiles %}

{% block page_title %}Privacy Policy{% endblock page_title %}

{% block body_class %}Privacy Policy{% endblock %}

{% block content %}
    <div class="bannerTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Sarcoma Central Privacy Policy</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 content">
                <p class="section-label">Rapid Science, Inc. Privacy Policy</p>
                <p>This Policy applies to our web Platform, the pages of which display or link to this Privacy Policy (the “Policy”). In this Policy we explain how we collect, use and disclose the information that we obtain via our Platform.</p>
                <p>By accessing or using the Platform, you consent to the collection, use, and disclosure of your information as described in this Policy. Your use of the Platform, and any dispute over privacy, is subject to this Policy and our <a href="{% url 'terms_of_use' %}">terms of use</a>, incorporated by reference into this Policy.</p>

                <p class="section-label">INFORMATION WE COLLECT</p>
                <p>We collect information about you directly from you, and automatically through your use of our Platform.</p>
                <p><b>User Account.</b> You may browse certain areas of our Platform without registering. However, to access many parts of the Platform, you must create a User Account. To sign up for an account, you must submit your email and your name. After you have registered with us, we may also collect additional optional information from you, including any information you add to your account profile.</p>
                <p><b>User Content.</b> We collect information about the content you post to the Platform. Further, any text, images, photos, audio, video, location data, and all other forms of data or communication and other content you post to the Platform will be viewable by your Specified Project Group, as defined in the Terms of Use, and by RS employees, contractors, and directors. We may display this content on the Platform, and parts of this content may be emailed to your Specified Project Group at their emails of record.</p>
                <p><b>Information We Collect Automatically.</b> We may automatically collect and store information related to you and your use of the Platform including, but not limited to, your browser type; IP address; referring URL; the pages you view and links you click on the Platform; the date and time of your visit; and the length of time you spend on the Platform.</p>

                <p class="section-label">HOW WE USE INFORMATION</p>
                <p>The RS Platform is meant to support and make visible the extra effort scientists exert to collaborate with one another. You may be measured on your use of the site. Data will be collected regarding how you interact with the Platform, including but not limited to, how frequently you log into the site, the frequency at which you post User Content, and how frequently you interact with other users on the Platform. This information may be shared in specific with the funder of your Project, if applicable, and in aggregate with the public at large as your Collaboration Score.</p>
                <p>We use your information, including your personal information, for the following purposes:</p>
                <ul>
                    <p>
                    <li>For customer service purposes: to communicate with you about your use of our Platform; to improve Platform usability; and to respond to your inquiries.</li>
                    <li>To tailor the content and information that we may send or display to you, and to otherwise personalize your experiences while using the Platform.</li>
                    <li>To contact you about updates in the Platform, including features and updates to the Terms of Use and Privacy Policy; and to inform you about activity on the Platform.</li>
                    <li>To better understand how users access and use our Platform, both on an aggregated and individualized basis, in order to improve our Platform, and for other research and analytical purposes.</li>
                    </p>
                </ul>

                <p class="section-label">HOW WE DISCLOSE INFORMATION</p>
                <p>Your name and university affiliation on the Platform is publically available, and your activity on the Platform is viewable by your Specified Project Group. In addition, we may disclose or share the information we collect, including personal information as follows:</p>
                <ul>
                    <p>
                    <li><b>Contractors.</b> We may outsource some of our technical and customer support to third party vendors. We may share information from or about you with them so that they can complete their work.</li>
                    <li><b>Funders.</b> If your use of the Platform is financially supported by a third party funder or foundation, we may share your personal information and use information with that funder.</li>
                    <li><b>In Response to Legal Process.</b> We may disclose the information we collect from you in order to comply with the law, a judicial proceeding, court order, or other legal process, such as in response to a subpoena.</li>
                    <li><b>Business Transfers.</b> If we are acquired by or merge with another company, or if provision of the Platform is taken over by another company, we may transfer the information we have collected from you to that company.</li>
                    <li><b>Aggregate and De-Identified Information.</b> We may share aggregate or de-identified information about users with third parties for marketing, fundraising or research purposes.</li>
                    </p>
                </ul>

                <br>
                <p class="section-label">THIRD PARTY ANALYTICS</p>
                <p>We use third party analytics tools, including Google Analytics, to collect, monitor and analyze us of the Platform. Accordingly, usage data is shared with Google, which has its own <a href="https://support.google.com/analytics/answer/6004245?hl=en">privacy policy</a> addressing how it uses such information. We encourage you to review this privacy policy to understand how Google uses such information.</p>

                <p class="section-label">THIRD PARTY LINKS</p>
                <p>Our Platform may contain links to third party web sites. If you visit a third party web site, that visit will not be governed by this policy, but rather the privacy policy of that web site.</p>

                <p class="section-label">DATA RETENTION AND ACCOUNT TERMINATION</p>
                <p>If you terminate your account, we will remove your name from the Projects for which you had registered, however we are not required to remove or delete any of your User Content from the Platform. You can request that your account be terminated by contacting <a href="mailto:info@rapidscience.org">info@rapidscience.org</a>.</p>

                <p class="section-label">CHILDREN</p>
                <p>Children under the age of 13 are not permitted to use the Platform and we do not knowingly collect personal information from children under 13. If we become aware that a child has provided us with personal information we will take steps to securely delete such information.</p>

                <p class="section-label">SECURITY</p>
                <p>We have implemented safeguards to protect the personal information submitted to us, both during transmission and once we receive it. However no method of transmission over the internet or method of electronic storage is 100% secure. You should take steps to protect against unauthorized access to your password, phone, and computer by, among other things, signing off after using a shared computer, choosing a robust password that nobody else knows or can easily guess, and keeping your log-in and password private. We are not responsible for any lost, stolen, or compromised passwords or for any activity on your account via unauthorized password activity.</p>

                <p class="section-label">INTERNATIONAL USERS</p>
                <p>Any information we collect from you will be transferred to the United States. By using the Platform you are expressly consenting to the transfer of your information as described in this Privacy Policy.</p>

                <p class="section-label">MODIFICATIONS TO THIS PRIVACY POLICY</p>
                <p>We may revise this Policy from time to time. The most current version of the Policy will govern our use of your information. If we make material changes to this Policy, we will notify registered users at their emails of record prior to the effective date of the changes. By continuing to access or use the Platform after those changes become effective, you agree to be bound by the revised Policy.</p>
                <p>Last Updated on June 28, 2018.</p>
            </div>
        </div>
    </div>



{% endblock content %}
