{% extends 'single_col.html' %}
{% load bootstrap3 staticfiles %}

{% block page_title %}Terms of Use{% endblock page_title %}

{% block body_class %}Terms of Use{% endblock %}

{% block content %}
    <div class="bannerTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Sarcoma Central Terms of Use</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 content">
                <p class="section-label">By using and/or visiting this Rapid Science Web Platform (“Platform”) you agree to these Terms of Use, and our <a href="{% url 'privacy_policy' %}">privacy policy</a>.</p>
                <ol>
                    <li><b>Introduction</b>
                        <p>Rapid Science, Inc. (“RS”, “us”, “we”, or “our”) is a 501(c)3 nonprofit organization dedicated to improving communication in the sciences. Rapid Science has created the Platform to foster community and dialogue between scientists.  These Terms of Use describe the conditions under which scientists and members of the public may use the Platform.</p>
                    </li>
                    <br>
                    <li><b>Legally Binding Agreement</b>
                        <p>This Agreement applies to all visitors of the Platform, regardless of whether they have registered for an account on the Platform.  By accessing or using the Platform (including Projects, Activity Feeds, Bibliographies, Documents and Media, Discussions or any content or information provided as part of the Platform), you are entering a legally binding Agreement. Accordingly, if you are under 18 years of age, or otherwise lack capacity to enter into a legally binding agreement, you may not use the Platform.</p>
                        <p>This Agreement includes these Terms of Use, our <a href="{% url 'privacy_policy' %}">Privacy Policy</a> and other terms that we may display to you on the Platform. If you do not agree to this Agreement, do not access or otherwise use the Platform.</p>
                    </li>
                    <br>
                    <li><b>Definitions</b>
                        <p><ol>
                            <li>Email of record: Your email of record is the email you provide to us when you register for an account on the Platform.</li>
                            <li>Project:  A Project on the platform is a group of people organized around a discrete topic. A project is denoted by the existence of a title line in the dropdown menu when hovering overs “Projects” in the top navigation bar.</li>
                            <li>Project Administrator: Each Project will have a designated Project Administrator. The Project Administer will be indicated as the “contact” of a Project on the Platform. This Project Administrator will have the authority to determine to which audience your User Content will be viewable.  If you do not wish for the Project Administrator to be able to grant access to your User Content, do not join the Project and do not post User Content in that Project.</li>
                            <li>Specified Project Group: The Specified Project Group is the set of users who are permitted to view your User Content. The Project Administrator has the authority to determine who may be included in the Specified Project Group.</li>
                        </ol></p>
                    </li>
                    <li><b>User Accounts</b>
                        <p>In order to access some features of the Platform, you must register to create an account. You agree to provide accurate and truthful information when creating your account. You may not use another person's account, and you may not permit another person to use your account. You are solely responsible for the activity that occurs on or in connection with your account, and you agree to make all reasonable efforts to keep your account password secure. You agree to notify us immediately of any breach of security or unauthorized use of your account.</p>
                        <p>We reserve the right to, at our sole discretion, terminate or suspend your access to your account without notice. Termination for any reason will not terminate our license to keep your User Content on the Platform, nor will it terminate any other provisions of this Agreement.</p>
                    </li>
                    <br>
                    <li><b>User Content</b>
                        <p>Registered Users may post content (“User Content” or “Content”) to the Platform. You retain the intellectual property rights to any User Content you post, however you grant RS a perpetual, irrevocable, worldwide, royalty-free license to sublicense, reproduce, store, modify, transmit, distribute, publicly perform and publicly display such User Content to the Specified Project Group selected by the Project Administrator.</p>
                        <p>By submitting User Content to the Platform, you waive any privacy expectations that you may have with respect to the Content and acknowledge that this Content will be available for viewing, review, and comment by the Specified Project Group as determined by your Project Administrator, and by RS directors, employees, and contractors. You agree that, once you post User Content, we have no obligation to remove, delete, or disable access to any of your User Content, or to return any User Content to you. However we may remove or prevent access to your User Content, at our sole discretion.</p>
                        <p>You are not permitted to post, upload, or otherwise share the following types of content on the Platform:</p>
                        <p>
                            <ul>
                                <li>Any material that is copyrighted, protected by trade secret, or otherwise subject to third-party proprietary rights, including privacy and publicity rights, unless you are the owner of such rights or have permission from their rightful owner to share the content;</li>
                                <li>Content that is offensive, derogatory, obscene, or contrary to local, national, or international laws and regulations;</li>
                                <li>Any confidential patient or research subject information;</li>
                                <li>Any viruses, worms, Trojan horses, or other forms of harmful computer code;</li>
                                <li>Any unsolicited or unauthorized advertising or promotional materials.</li>
                            </ul>
                        </p>
                    </li>
                    <br>
                    <li><b>Storage</b>
                        <p>All Content will be stored and processed in whole or in part in the United States. If you access the Platform from outside the United States, your use of the site constitutes consent to the transfer of content out of your country and to the United States.</p>
                        <p>The Platform is designed to connect scientists on a social media platform. It is not a storage service. RS may change, suspend, or discontinue the Platform at any time. Registered Users have the ability to upload materials, but RS is under no obligation to store this Content.  </p>
                    </li>
                    <br>
                    <li><b>Copyright Complaints</b>
                        <p>We respect the intellectual property of others and will respond to notices of alleged copyright infringement. If you are a copyright owner or an agent thereof and believe that any User Content or other content infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by emailing <a href="mailto:​info@rapidscience.org">info@rapidscience.org </a> with the following information:</p>
                        <p>
                            <ol>
                                <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright;</li>
                                <li>A description of the copyrighted work that you claim has been infringed, including the URL of the location where the copyrighted work exists or a copy of the copyrighted work;</li>
                                <li>Identification of the URL or other specific location on the Platform where the material that you claim is infringing is located;</li>
                                <li>Your address, telephone number, and email address;</li>
                                <li>A statement that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
                                <li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.</li>
                            </ol>
                        </p>
                        <p></p>
                    </li>
                    <br>
                    <li><b>Modifications</b>
                        <p>We reserve the right to change these Terms of Use and our <a href="{% url 'privacy_policy' %}">Privacy Policy</a> at any time. Registered Users will receive notice of any changes through the email of record, or by being presented with the updated Terms of Use upon logging into the site. You agree to receive notice of modifications through your email of record.</p>
                    </li>
                    <br>
                    <li><b>Security</b>
                        <p>We implement reasonable technical and organizational measures designed to secure your personal information and User Content from accidental loss and from unauthorized access, use, alteration, or disclosure. However, we cannot guarantee that unauthorized third parties will never be able to defeat those measures or use your personal information for improper purposes.  Use of the Platform is at your own risk.</p>
                    </li>
                    <br>
                    <li><b>Disclaimers and Limitation of Liability</b>
                        <p>RS disclaims any express or implied warranties that the information on the Platform is accurate, adequate or complete.  RS does not endorse any of the information or views presented on the Platform.</p>
                        <p>The Platform is provided “as is,” without warranty of any kind, including without limitation the implied warranties of merchantability or fitness for a particular purpose. RS does not warrant that the Platform will operate in an uninterrupted or error-free manner or that the Platform is free of viruses or other harmful components.</p>
                        <p>Though RS will make every effort to provide the Platform indefinitely, RS reserves the right to modify or discontinue the Platform, including adding, removing or changing features or functionality of the Platform, at any time, for any reason. If the Platform is discontinued, Registered Users will receive notification to the Registered User’s email of record 30 days prior to its taking effect.</p>
                        <p>The information on the Platform is intended for discussion purposes only, and not as recommendations on how to diagnose or treat illnesses.</p>
                        <p>RS shall have no liability for any consequential, indirect, punitive, special or incidental damages, whether foreseeable or unforeseeable (including claims for defamation, errors, loss of data, or interruption in availability of data), arising out of or relating to your use of the Platform.</p>
                        <p>You acknowledge that RS would not offer the Platform absent these disclaimers and limitations on liability.</p>
                    </li>
                    <br>
                    <li><b>Indemnity</b>
                        <p>You agree to defend, indemnify, and hold harmless RS, its officers, directors, employees, and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: (a) your use of and access to the Platform; (b) your violation of any term of these Terms of Use; (c) your violation of any third-party right, including without limitation any copyright, property, or privacy right; or (d) any claim that your User Content caused damage to a third party.</p>
                    </li>
                    <br>
                    <li><b>Other Provisions</b>
                        <p>If we fail to enforce any of these terms of use, it shall not constitute a waiver of any of these terms.</p>
                        <p>You may not transfer any of your rights or obligations under this Terms of Use to anyone else without our consent. However, we are free to assign our rights and obligations under this Agreement at any time, including in the event that we are acquired by another entity, or if the Platform’s provision is taken over by another company.</p>
                        <p>Dispute resolution. In the event of any dispute arising out of or relating to this Agreement, we will attempt in good faith to resolve the dispute through informal negotiations. If negotiations are unsuccessful, the dispute shall be settled by final and binding arbitration in New York, New York in accordance with the rules of the American Arbitration Association, and judgment upon the award rendered may be entered in any court having jurisdiction thereof.</p>
                    </li>
                </ol>

                <p> Last Updated on June 28, 2018.</p>


            </div>
        </div>
    </div>



{% endblock content %}
