{% extends 'left_col.html' %}{% load bootstrap3 cms_tags %}

{% block page_title %}Search{% endblock page_title %}

{% block title %}Search{% endblock title %}

{% block left_column %}
<div class="box">
    <form  class="sub-menu" method="get" action="{% url 'haystack_search' %}{% if query %}?q={{ query }}{% endif %}" autocomplete="off">
        <div class="refine-search">
            <div class="form-group">
                <input id="id_q" name="q" type="search" class="form-control" placeholder="Search" value="{{ query }}">
            </div>
            <p class="section-label">Filter By<i class="fa fa-caret-down visible-xs-inline visible-sm-inline"></i></p>
            {% bootstrap_field form.models show_label=False %}
            {% bootstrap_field form.tags %}
            <button class="btn btn-primary" type="submit">
              Search
            </button>
        </div>
    </form>
</div>
{% endblock left_column %}

{% block main_content %}
    <div class="box main-content plugin-form">
    {% if object_list %}
        <h1>Search results</h1>
        <p><em>Results are sorted by keyword relevance.</em></p>
        {% include 'search/_results.html' %}
    {% else %}
      <p>
        {% if query %}No results found for <span class="highlighted">{{ query }}</span>.
        Try a new search {% else %}Please enter a search term {% endif %}or select an option to browse resources by type.
      </p>
    {% endif %}
    </div>
{% endblock %}
