{% extends 'right_col2.html' %}{% load bootstrap3 cms_tags %}

{% block page_title %}Search{% endblock page_title %}

{% block title %}Search{% endblock title %}

{% block body_class %}search{% endblock %}

{% block right_column %}
<div class="box">
    <form  class="sub-menu" method="get" action="{% url 'haystack_search' %}{% if query %}?q={{ query }}{% endif %}" autocomplete="off">
        <div class="refine-search">
            <input id="id_q_hidden" name="q" type="hidden" value="{{ query }}">
            <p class="section-label">Filter By<i class="fa fa-caret-down visible-xs-inline visible-sm-inline"></i></p>
            {% bootstrap_field form.models show_label=False %}
            <button class="btn btn-primary" type="submit">
              Update
            </button>
        </div>
    </form>
</div>
{% endblock right_column %}

{% block main_content %}
    <div class="box main-content search-page plugin-form">
    <div class="">
        <h1>Search</h1>
        {% if object_list %}<div class="result-count">{{ object_list|length }} result{% if object_list|length > 1 %}s{% endif %}</div>{% endif %}
    </div>
    <form class="keywords" method="get" action="{% url 'haystack_search' %}{% if query %}?q={{ query }}{% endif %}" autocomplete="off">
        <div class="input-group">
            <input id="id_q" name="q" type="search" class="form-control clear-input" placeholder="Authors, institutions, drugs, biomarkers…" value="{{ query }}">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary search-button" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    {% if object_list %}
        <p class="relevance"><em>Results are sorted by keyword relevance.</em></p>
        {% include 'search/_results.html' %}
    {% else %}
      <p>
        {% if query %}No results found for <span class="highlighted">{{ query }}</span>.
        Try a new search {% else %}Please enter a search term {% endif %}or select an option to browse resources by type.
      </p>
    {% endif %}
    </div>
{% endblock %}
