{% load bookmarks comments discussion_tags el_pagination_tags %}

{% lazy_paginate activity_stream %}
{% for action in activity_stream %}
  <div class="activity-stream">
    {% if action.action_object %}
    <div class="row">
      {% with obj=action.action_object model=action.action_object_content_type.model %}
      <div class="col-md-11">
        <p class="small">
          {% include 'actstream/_action_detail.html' %}
        </p>
        {% if model == 'file' %}
          {% include 'documents/_file.html' %}
        {% elif model == 'image' %}
          {% include 'documents/_image.html' %}
        {% elif model == 'link' %}
          {% include 'documents/_link.html' %}
        {% elif model == 'video' %}
          {% include 'documents/_video.html' %}
        {% elif model == 'threadedcomment' %}
          {% include 'comments/_comment.html' %}
        {% elif model == 'referenceshare' %}
          <blockquote>
            <p>{{ obj.comment }}</p>
          </blockquote>
          {% include 'bibliography/_ref_activity.html' with ref=obj %}
        {% elif model == 'reference' %}
          {% include 'bibliography/_ref_activity.html' with ref=obj %}
        {% elif model == "casereport" %}
          {% include 'casereport/casereport_activity.html' %}
        {% endif %}
        {% if action.description %}
        <blockquote>
          <p>{{ action.description }}</p>
        </blockquote>
        {% endif %}
        <br>
        {% for tag in action.action_object.tags.all %}
          <a role="button" class="btn btn-tag btn-xs" href="{% url 'haystack_search' %}?tags={{ tag.id }}">
            {{ tag }}
          </a>
        {% endfor %}
      </div>
      <div class="col-md-1 activity-actions">
        {% if model != 'referenceshare' and model != 'reference' %}
            {% include 'discussions/discussion_count_widget.html' %}
        {% endif %}
        {% if model == 'file' or model == 'image' or model == 'link' or model == 'video' or model == 'document' %}
            <a class="share-link" href="/send/documents/document/{{ obj.id }}"><i class="fa fa-share"></i></a>
        {% elif model == "casereport" %}
            <a class="share-link" href="/send/casereport/casereport/{{ obj.id }}"><i class="fa fa-share"></i></a>
        {% elif model == 'threadedcomment' %}
          {% if comment.is_discussion %}
            <a class="share-link" href="/send/discussions/threadedcomment/{{ obj.id }}"><i class="fa fa-share"></i></a>
          {% endif %}
        {% elif model == 'reference' %}
            <a class="share-link" href="/send/bibliography/reference/{{ obj.id }}"><i class="fa fa-share"></i></a>
        {% endif %}


      </div>
      {% endwith %}
    </div>
    {% endif %}
  </div>
  <hr>
{% empty %}
  <p>There is no recent activity</p>
{% endfor %}
{% show_more %}
