{% load core_tags %}
{% if action.verb == 'started' %}
  Item posted
{% elif action.verb == 'shared' %}
  Item shared
{% elif action.verb == 'reply' %}
  Comment
{% else %}
  {{ action.action_object.display_type }}
  {% if action.action_object_content_type.model != 'threadedcomment' %}{{ action.verb }}{% endif %}
{% endif %}
by {% if request.user == action.actor and action.verb != 'reply' %} me {% else %} <a href="{{ action.actor.get_absolute_url }}">{{ action.actor.get_full_name }}</a>{% endif %}
{% if action.verb == 'shared' %} with {{ action.target|link }}
    {% if action.others %}{% for other in action.others %}{% if forloop.last %} and {%  else %}, {% endif %}{{ other.target|link }}{%  endfor %}{% endif %}
{% endif %}
{% if action.action_object_content_type.model == 'threadedcomment' and action.verb != 'started' and action.verb != 'shared' %}
    {%  with comment=action.action_object parent_user=action.action_object.get_parent.user %}
        {% if comment.is_reply %}on{% endif %}
        <a href="{{ comment.discussion_root.get_absolute_url }}">
            {% if comment.is_reply %}{{ comment.discussion_root.user }}: {% endif %}
            {{ comment.discussion_root.title|truncatewords_html:10 }}
        </a>
    {% endwith %}
{% endif %}
| {{ action.timestamp|date:"j M Y" }}
