{% load core_tags %}
{#object#}
{% if action.verb == 'approved' %}
    <!-- SUPPRESSED in favor of joined and declined actions which are more targeted -->
{% elif action.verb == 'joined' %}
    {# could be in the user's activity feed or the group's activity feed #}
    {% if action.actor == request.user %}
        {% if action.action_object.approver %}Moderator {{ action.action_object.approver|link }} has {% else %}We have {% endif %}approved
        {% if action.action_object.user == request.user %} your {% else %} {{ action.action_object.user|link }}'s {% endif %}
        request to join the {{ action.action_object.project|link }} group.
        {% if action.action_object.user == request.user %}
            <p>You may post discussions, files, case reports, and references to this group, and participate in member discussions.
            If you wish to invite others to join the group, please contact the moderator(s).
            </p>
            If you have questions please contact us at &lt;<a href="mailto:support@rapidscience.org">support@rapidscience.org</a>&gt;
        {% endif %}
    {% else %}
        {% if project %}
            {#  on the project AF #}
            Welcome to {{ action.action_object.user|link }} who has joined this group.
        {% else %}
            Welcome to {{ action.action_object.user|link }} who has joined the {{ action.action_object.project|link }} group.
        {% endif %}
    {% endif %}
{% elif action.verb == 'declined' %}
    {#    only visible to the declined user's activity feed#}
    With apologies, the {{ action.action_object.project }} group is currently closed to new members.
    <p>You may, however, create a new group (from the <a href="{% url "projects:projects_list" %}">All Groups</a> page) related to this topic and invite members from within or outside the Rapid Science network.
    </p>
    If you have questions please contact us at &lt;<a href="mailto:support@rapidscience.org">support@rapidscience.org</a>&gt;
{% else %}

    {{ action.action_object.display_type }}

    {#verb#}
    {% if action.verb == 'reply' or action.verb == 'comment' %}
        <!-- verb suppressed to read like Comment by ... -->
    {% elif action.verb == 'sent back' %}
        {{ action.verb|verb_alias }} to the author
    {% else %}
      {{ action.verb|verb_alias }}<!-- (aliased from {{ action.verb }}) -->
    {% endif %}

    {# actor #}
    by <a href="{{ action.actor.get_absolute_url }}">{% if request.user == action.actor %} me {% else %} {{ action.actor.get_full_name }}{% endif %}</a>

    {# target #}
    {% if action.verb == 'shared' %} with {% if action.target == request.user %} me {% else %}{{ action.target|link }}{% endif %}
        {% if action.all_targets %}
            {% for target in action.all_targets|slice:"1:" %}{% if forloop.last %} and {%  else %}, {% endif %}{% if target == request.user %} me {% else %}{{ target|link }}{% endif %}{%  endfor %}
        {% endif %}
    {% elif action.verb == 'added' or action.verb == 'uploaded' or action.verb == 'started' or action.verb == 'replied' or action.verb == 'created' or action.verb == 'posted' %}
        {% if action.all_targets %} to
            {{ action.all_targets.0|link }}
            {% for target in action.all_targets|slice:"1:" %}{% if forloop.last %} and {%  else %}, {% endif %}{{ target|link }}{%  endfor %}
        {% endif %}
    {% endif %}
{% endif %}
{% if action.action_object_content_type.model == 'threadedcomment' and action.verb != 'started' and action.verb != 'shared' %}
    {%  with comment=action.action_object parent_user=action.action_object.get_parent.user %}
        {% if comment.is_reply or 'casereport' in comment.discussion_root.content_object.get_content_type or 'document' in comment.discussion_root.content_object.get_content_type or 'userreference' in comment.discussion_root.content_object.get_content_type or comment.is_editorial_note %}on{% endif %}
        {% if 'casereport' in comment.discussion_root.content_object.get_content_type or 'document' in comment.discussion_root.content_object.get_content_type %}
        <a href="{{ comment.discussion_root.content_object.get_absolute_url }}">
            {% if comment.is_reply %}{{ comment.discussion_root.user }}: {% endif %}
            {{ comment.discussion_root.content_object.title|truncatewords_html:10 }}
        </a>
        {% elif 'userreference' in comment.discussion_root.content_object.get_content_type %}
        <a href="{{ comment.discussion_root.content_object.get_absolute_url }}">
            {% if comment.is_reply %}{{ comment.discussion_root.user }}: {% endif %}
            {{ comment.discussion_root.content_object.reference.title|truncatewords_html:10|striptags }}
        </a>
        {% elif comment.is_editorial_note %}
        <a href="{{ comment.content_object.casereport.get_absolute_url }}">
            {{ comment.content_object.casereport.title|truncatewords_html:10 }}
        </a>
        {% else %}
        <a href="{{ comment.discussion_root.get_absolute_url }}">
            {% if comment.is_reply %}{{ comment.discussion_root.user }}: {% endif %}
            {{ comment.discussion_root.title|truncatewords_html:10 }}
        </a>
        {% endif %}
    {% endwith %}
{% endif %}
{# timestamp #}
| {{ action.timestamp|date:"j M Y" }}
