<div class="row">
  <div class="col-md-11">
      {% if not search %}<p>{% endif %}
        {% if obj.parsed_data.authors %}{{ obj.parsed_data.authors }}. {% endif %}<strong>{% if obj.get_source_url %}<a href="{{ obj.get_source_url }}" {% if 'http' in obj.get_source_url and not email %}target="_blank"{% endif %}>{% endif %}{{ obj.parsed_data.title|striptags }}{% if obj.get_source_url %}</a>{% endif %}</strong>,
        {% if obj.parsed_data.container_title %}in <em>{{ obj.parsed_data.container_title }}</em>,{% endif %}
        {% if obj.parsed_data.page %}pp {{ obj.parsed_data.page }}.{% endif %}
        {% if obj.parsed_data.publication_date %}{{ obj.parsed_data.publication_date }};{% endif %}
        {{ obj.parsed_data.publisher }} {{ obj.parsed_data.journal_title }}
        {% if obj.parsed_data.doi %}DOI: {{ obj.parsed_data.doi }}{% endif %} {% if obj.parsed_data.pubmed_id %}PMID: {{ obj.parsed_data.pubmed_id }}{% endif %}
      {% if not search %}</p>{% endif %}
    <p class="small">
      {% with edit_url=obj.get_edit_url %}
        {% if edit_url %}<a href="{{ edit_url }}">Edit</a>{% endif %}
      {% endwith %}<br />
      Shared with {{ obj.get_viewers|join:", " }}
    </p>
    {% if obj.description %}<blockquote>{{ obj.description }}</blockquote>{% endif %}
  </div>
  <div class="col-md-1">
    <a class="comment-count" href="{% url 'bibliography:reference_detail' obj.id %}"><i class="fa fa-comment" aria-hidden="true"></i></a>
    <a class="share-link" href="/send/bibliography/reference/{{ obj.id }}"><i class="fa fa-share"></i></a>
  </div>
</div>
<hr>
