{% load core_tags %}
<div class="row reference-item">
  <div class="col-md-11">
    <h4>{% if obj.parsed_data.authors %}{{ obj.parsed_data.authors }}. {% if ref.get_source_url %}
        <a href="{{ ref.get_source_url }}" {% if 'http' in ref.get_source_url and not email %}target="_blank"{% endif %}>{% endif %}{% endif %}{{ obj.parsed_data.title|striptags }}
        {% if ref.get_source_url %}</a>{% endif %},
        {% if obj.parsed_data.container_title %}in <em>{{ obj.parsed_data.container_title }}</em>,{% endif %}
        {% if obj.parsed_data.page %}pp {{ obj.parsed_data.page }}.{% endif %}
        {% if obj.parsed_data.publication_date %}{{ obj.parsed_data.publication_date }};{% endif %}
        {{ obj.parsed_data.publisher }} {{ obj.parsed_data.journal_title }}
        {% if obj.parsed_data.doi %}DOI: {{ obj.parsed_data.doi }}{% endif %} {% if obj.parsed_data.pubmed_id %}PMID: {{ obj.parsed_data.pubmed_id }}{% endif %}
    </h4>
    <p class="small meta">
        Posted by
        <a href="{% url 'profile' user.id  %}">{% if user = request.user %}me{% else %}{{ user.get_full_name }}{% endif %}</a>
        | {{ ref.date_updated|date:"j M Y" }}
        {% with edit_url=obj.get_edit_url %}
          {% if edit_url %}| <a href="{{ edit_url }}">Edit</a>{% endif %}
        {% endwith %}
        <br />
      {% autoescape off %}{% display_shared_with ref request.user %}{% endautoescape %}
    </p>
    {% if obj.description %}
        <div class="more">
            {% autoescape off %}{{ obj.description }}{% endautoescape %}
        </div>
    {% endif %}
    {% if obj.tags.all %}
        <p class="tags">
            {% for tag in obj.tags.all %}
                <a role="button" class="btn btn-tag btn-xs" href="{% url 'haystack_search' %}?tags={{ tag.id }}">
                  {{ tag }}
                </a>
            {% endfor %}
        </p>
    {% endif %}
  </div>
  <div class="col-md-1">
        <a class="comment-count" href="{% url 'bibliography:reference_detail' obj.id %}"><i class="fa fa-comment" aria-hidden="true"></i></a>
        <a class="share-link" href="/send/bibliography/reference/{{ obj.id }}"><i class="fa fa-share"></i></a>
  </div>
</div>
<hr>
