{% load core_tags %}
{% if not search %}<h4>{% endif %}
    {% if ref.get_source_url %}<a href="{{ ref.get_source_url }}" {% if 'http' in ref.get_source_url and not email %}target="_blank"{% endif %}>{% endif %}{{ ref.parsed_data.title|striptags }}{% if ref.get_source_url %}</a>{% endif %}
{% if not search %}</h4>{% endif %}
{% if ref.description %}
  {% if not search %}<p class="more">{% endif %}
    {{ ref.description }}
  {% if not search %}</p>{% endif %}
{% endif %}
{% if action.verb == 'shared' %}
    {% if not search %}<p class="small meta">{% endif %}
        Posted by
        <a href="{% url 'profile' action.actor_object_id  %}">{{ action.actor }}</a>
        | {{ ref.date_updated|date:"j M Y" }}{% if not search %}<br />{% endif %}
      {% autoescape off %}{% display_shared_with ref request.user %}{% endautoescape %}
    {% if not search %}</p>{% endif %}
{% endif %}