{% load core_tags discussion_tags %}
<div class="row reference-item">
  <div class="col-md-11">
    <h4>{% if obj.parsed_data.authors %}{{ obj.parsed_data.authors }}. {% endif %}{% if ref.get_source_url %}
        <a href="{{ ref.get_source_url }}" {% if 'http' in ref.get_source_url and not email %}target="_blank"{% endif %}>{% endif %}
        {% autoescape off %}{% if highlighted.title %}{{ highlighted.title.0 }}{% else %}{{ obj.parsed_data.title }}{% endif %}{% endautoescape %}
        {% if ref.get_source_url %}</a>{% endif %},
        {% if obj.parsed_data.container_title %}in <em>{{ obj.parsed_data.container_title }}</em>,{% endif %}
        {% if obj.parsed_data.page %}pp {{ obj.parsed_data.page }}.{% endif %}
        {% if obj.parsed_data.publication_date %}{{ obj.parsed_data.publication_date }};{% endif %}
        {{ obj.parsed_data.publisher }} {{ obj.parsed_data.journal_title }}
        {% if obj.parsed_data.doi %}DOI: {{ obj.parsed_data.doi }}{% endif %} {% if obj.parsed_data.pubmed_id %}PMID: {{ obj.parsed_data.pubmed_id }}{% endif %}
    </h4>
    <p class="small meta">
        Posted by
        <a href="{% url 'profile' user.id  %}">{% if user = request.user %}me{% else %}{{ user.get_full_name }}{% endif %}</a>
        | {{ ref.date_updated|date:"j M Y" }}
        {% with edit_url=obj.get_edit_url %}
          {% if edit_url %}| <a href="{{ edit_url }}">Edit</a>{% endif %}
        {% endwith %}
        <br />
      {% autoescape off %}{% display_shared_with ref request.user %}{% endautoescape %}
    </p>
    {% if obj.user_description %}
        <div class="more">
            {% autoescape off %}{{ obj.user_description }}{% endautoescape %}
        </div>
    {% endif %}
    {% if obj.current_user_reference.tags.all %}
        <p class="tags">
            {% for tag in obj.current_user_reference.tags.all %}
                <a role="button" class="btn btn-tag btn-xs" href="{% url 'haystack_search' %}?tags={{ tag.id }}">
                  {{ tag }}
                </a>
            {% endfor %}
        </p>
    {% endif %}
  </div>
  <div class="col-md-1">
        {% get_threaded_comment_count for obj as comment_count %}
        <a class="comment-count {% if comment_count < 1 %}empty{% endif %}" href="{% url 'bibliography:reference_detail' obj.id %}">
          <i class="fa fa-comment" aria-hidden="true"></i><br>
          {%  if comment_count > 0 %} <span class="comment-count-text">{{ comment_count }}</span> {% endif %}
        </a>
        {% if user != obj.get_poster %}
          {% if project %}
          <form class="bookmark-form" method="POST" action="{% toggle_bookmark_url obj project %}">
          {% else %}
          <form class="bookmark-form" method="POST" action="{% toggle_bookmark_url obj user %}">
          {% endif %}
          {% csrf_token %}
          <input type="hidden" name="{% if project %}group{% else %}dashboard{% endif %}" value="on" />
          <input type="hidden" name="content_type" value="{{ obj.get_content_type_id }}" />
          <input type="hidden" name="content_id" value="{{ obj.id }}" />
          <a href="#" class="bookmark-trigger" data-toggle="tooltip" title="Save Bookmark"><i class="fa fa-star" aria-hidden="true"></i></a>
          </form>
        {% endif %}
        <a class="share-link" href="/send/bibliography/reference/{{ obj.id }}"><i class="fa fa-share"></i></a>
  </div>
</div>
<hr>
