{% load core_tags %}
{% if not search %}<h4>{% endif %}
  {% if ref.parsed_data.authors %}{{ ref.parsed_data.authors }}. {% endif %}{% if ref.get_source_url %}{% if not search %}<a href="{{ ref.get_source_url }}" {% if 'http' in ref.get_source_url and not email %}target="_blank"{% endif %}>{% endif %}{% endif %}
  {{ ref.parsed_data.title|striptags }}{% if ref.get_source_url %}{% if not search %}</a>{% endif %}{% endif %},
  {% if ref.parsed_data.container_title %}in <em>{{ ref.parsed_data.container_title }}</em>,{% endif %}
  {% if ref.parsed_data.page %}pp {{ ref.parsed_data.page }}.{% endif %}
  {% if ref.parsed_data.publication_date %}{{ ref.parsed_data.publication_date }};{% endif %}
  {{ ref.parsed_data.publisher }} {{ ref.parsed_data.journal_title }}
  {% if ref.parsed_data.doi %}DOI: {{ ref.parsed_data.doi }}{% endif %} {% if ref.parsed_data.pubmed_id %}PMID: {{ ref.parsed_data.pubmed_id }}{% endif %}
{% if not search %}</h4>{% endif %}
{% if action.verb == 'shared' %}
    {% if not search %}<p class="small meta">{% endif %}
        Posted by
        <a href="{% url 'profile' action.actor_object_id  %}">{% if request.user == action.actor %} me {% else %} {{ action.actor }} {% endif %}</a>
        | {{ ref.date_updated|date:"j M Y" }}{% if not search %}<br />{% endif %}
      {% autoescape off %}{% display_shared_with ref request.user %}{% endautoescape %}
    {% if not search %}</p>{% endif %}
{% endif %}
