{% extends 'base.html' %}{% load bootstrap3 %}

{% block body_class %}edit-reference{% endblock %}

{% block content %}
<div class="bannerTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <h1>Edit Reference</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-md-push-3">

        <h2>{{ reference }}</h2>
        {% if reference.parsed_data.doi %}
        <p>DOI: {{ reference.parsed_data.doi }}</p>
        {% endif %}
        {% if reference.parsed_data.pubmed_id %}
        <p>PMID: {{ reference.parsed_data.pubmed_id }}</p>
        {% endif %}

        {% if form %}
        <form method="post" action="" class="edit-reference-form">
          {{ form.media }}
          {% csrf_token %}
          {% for field in form %}
            {% if field.label == 'Members' %}
              <p class="section-label">Sharing</p>
              <div class="sharing-wrapper">
            {% endif %}
            {% if field.label == 'Members' or field.label == 'My Groups'%}
              {% bootstrap_field field label_class="sub-label" %}
            {% else %}
              {% bootstrap_field field label_class="section-label" %}
            {% endif %}
            {% if forloop.last %}
              </div>
            {% endif %}
          {% endfor %}
          <div class="action-buttons">
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
            <a role="button" class="btn btn-default" href="{% url 'bibliography:reference_search' %}">
              Cancel
            </a>
          </div>
        </form>
        {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
