{% extends 'base.html' %}{% load bootstrap3 %}

{% block body_class %}add-reference{% endblock %}

{% block content %}
<div class="bannerTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <h1>New Reference</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-md-push-3">
        <h5>Content posted here from a closed group can be shared only with members of that group. All other content, posted from your personal dashboard or an open group, can be shared with any individuals and with groups to which you belong. In addition, this content can be further shared by original recipients with groups to which they belong.</h5>


  <form method="get" action="" class="add-reference-form">
    <label for="id_q" class="section-label">Search *</label>
    <div class="input-group">
      <input class="form-control" id="id_q" name="q" title="Enter a PMID or DOI" type="text" placeholder="Author name, keyword, DOI, PMID..." value="{{ query }}">
      <span class="input-group-btn">
        <button class="btn btn-default searchBtn" type="submit">
          <i class="fa fa-search"></i>
        </button>
        <button class="btn btn-default clearSearch" style="display: none">
          <i class="fa fa-times-circle-o"></i>
        </button>
      </span>
    </div>
  </form>
  {% if results %}
    {% for reference in results %}
      {% include 'bibliography/_reference.html' with obj=reference add_reference=True %}
    {% endfor %}
  {% else %}
    {% if query %}
    <p>No results found.</p>
    {% endif %}
  {% endif %}
</div>
</div>
</div>
{% endblock content %}

{% block js-footer %}{{ block.super }}
  <script>
    function buttonDisplay(){
        searchterm = '{{ query }}';
        searchval = $("#id_q").val();
        if (!searchterm) {
            $(".clearSearch").hide();
            $(".searchBtn").show();
        } else if (searchterm == searchval) {
            $(".clearSearch").show();
            $(".searchBtn").hide();
        } else {
            $(".clearSearch").hide();
            $(".searchBtn").show();
        }
    }
    (function($) { $(function() {
        buttonDisplay();
        $("#id_q").keyup(function() {
            buttonDisplay();
        });
        $(".clearSearch").click(function(e){
            $("#id_q").val("");
            buttonDisplay();
            $(".row.reference-item").remove();
            e.preventDefault();
        });
        $(".add-reference-button").on("click", function(e) {
            e.preventDefault();
            reference = $(this).parents(".reference-item");
            refid = $(this).data('refid');
            formUrl = "/bibliography/" + refid + "/add/";
            results = $(".reference-item");
            others = $(reference).siblings();
            if ($(reference).find('.fa-plus-circle').length > 0) {
              $('html, body').animate({scrollTop: 0});
              $(others).slideUp();
              $.ajax({
                url: formUrl,
                success: function(data) {
                  form = $(data).find('.edit-reference-form');
                  $(form).attr('action', formUrl);
                  $(reference).after(form);
                  $(".select2").select2()
                },
                error: function() {
                  console.log('Error occurred.');
                }
              });
            } else {
              $(".edit-reference-form").slideUp(function() {
                $(".edit-reference-form").remove();
              });
              $(others).slideDown();
            }
            $(reference).find('.fa').toggleClass('fa-plus-circle');
            $(reference).find('.fa').toggleClass('fa-times-circle-o');
        });

    }); })(jQuery);
  </script>
{% endblock js-footer %}
