{% extends 'base.html' %}{% load bootstrap3 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-md-push-3">
            
<h2>Add Reference</h2>

  <form method="get" action="" class="add-reference">
    <label for="id_q">Search</label>
    <div class="input-group">
      <input class="form-control" id="id_q" name="q" title="Enter a PMID or DOI" type="text" placeholder="Author name, keyword, DOI, PMID..." value="{{ query }}">
      <span class="input-group-btn">
        <button class="btn btn-default searchBtn" type="submit">
          <i class="fa fa-search"></i>
        </button>
        <button class="btn btn-default clearSearch" style="display: none">
          <i class="fa fa-times-circle-o"></i>
        </button>
      </span>
    </div>
  </form>
  <h3>Or upload</h3>
  <!-- Single button -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Upload <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="{% url 'bibliography:add_book' %}">Book</a></li>
      <li><a href="{% url 'bibliography:add_book_chapter' %}">Book chapter</a></li>
      <li><a href="{% url 'bibliography:add_article' %}">Journal article</a></li>
    </ul>
  </div>
  {% if results %}
    <hr>
    {% for reference in results %}
      {% include 'bibliography/_reference.html' with obj=reference %}
      <a href="{% url 'bibliography:reference_add' reference.id %}" class="btn btn-primary">Add<a>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  {% else %}
    {% if query %}
    <hr>
    <p>No results found.</p>
    {% endif %}
  {% endif %}
</div>
</div>
</div>
{% endblock content %}

{% block js-footer %}{{ block.super }}
  <script>
    $('.form-reference-add').submit(function(event) {
      var form = $(this);
      event.preventDefault();
      // Clear out any old messages
      $('.alert-dismissable').remove();
      $.post($(this).attr('action'), $(this).serialize(), function(data) {
        if (data.messages) {
          $(form).replaceWith(data.messages);
        }
      });
    });
    function buttonDisplay(){
        searchterm = '{{ query }}';
        searchval = $("#id_q").val();
        if (!searchterm) {
            $(".clearSearch").hide();
            $(".searchBtn").show();
        } else if (searchterm == searchval) {
            $(".clearSearch").show();
            $(".searchBtn").hide();
        } else {
            $(".clearSearch").hide();
            $(".searchBtn").show();
        }
    }
    (function($) { $(function() {
        buttonDisplay();
        $("#id_q").keyup(function() {
            buttonDisplay();
        });
        $(".clearSearch").click(function(e){
            $("#id_q").val("");
            buttonDisplay();
            e.preventDefault();
        })
    }); })(jQuery);
  </script>
{% endblock js-footer %}
