@import 'mixins';

html, body {
    height: 100%;
}

html {
    color: #333;
}

$font-family: "Open Sans", sans-serif !important;

body {
    font-family: $font-family;
    padding-top: 51px;
    padding-bottom: 20px;
    background-color: #eee;
}

#id_honeypot {
    display: none;
}

h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;

    &.aside-col-header {
        margin-top: 0;
        margin-bottom: 1.25em;
        font-size: 1.25em;
    }
}

h2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    margin: 0;
}

h1.intro, h2.intro {
    color: #fff;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
}

.section-label {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.document-label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

small {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.tag {
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    margin-right: 10px;
    padding: 6px 10px;
}

.box {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.nav, .top-nav {
    font-family: $font-family;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: $navbar-default-color;
}

.nav .active, .top-nav .active {
    color: #000;
}

.top-nav {
    background-color: #332f2d;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 1000001;
}

.navbar .subtitle {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    width: 280px;
    line-height: 50px;
    letter-spacing: 1px;
}

.side-nav, .sub-nav {
    font-family: $font-family;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #666;
}

.side-nav .active {
    color: #000;
    background-image: linear-gradient(to right, white, #eee, white);
}

.side-nav > li > ul > li {
    padding: 5px 0 5px 30px;
}

.sub-nav {
    text-transform: uppercase;
}

.primary {
    color: #fff;
    background-color: #1590c9;
    border: 1px solid #1590c9;
    cursor: pointer;
    background-image: none;
}

.primary:hover {
    background-color: #1cb9ff;
    border: 1px solid #1cb9ff;
    color: #fff;
}

.secondary {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #1590c9;
    background-image: none;
}

.secondary:hover {
    background-color: #1cb9ff;
    border: 1px solid #1cb9ff;
    color: #fff;
}

.relative {
    position: relative;
}

.main {
    min-height: 100%;
    padding-bottom: 90px;

    &:after {
        content: "";
        display: block;
    }
}

.main-footer {
    height: 120px;
    padding: 20px 0;
    background: $body;
    color: #fff;
  a {
    color: #fff;
  }
  a.img {
    text-decoration: none;
  }
  img {
    padding-left: 5px;
  }

  .logos {
    padding-bottom: 20px;
    img {
      padding: 0 20px;
    }
  }
}

.navbar-nav {
    .dropdown {
        &:hover {
            .dropdown-menu {
                display: block;
            }
        }
    }
}

.hero {
  height: 200px;
  position: relative;
  background-color: #20232b;
  overflow: hidden;
  .container {
    position: relative;

    h1 {
      margin-top: 1em;
    }
    span {
      background: #111;
      padding: 5px 10px;
    }
    h1 > span {
      padding: 0 10px;
    }
  }

  .image-container {
    text-align: right;
    left: -1%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-size: 100% 100%;
    img {
      min-width: 102%;
      width: auto;
      filter: blur(3px);
      -webkit-filter: blur(3px);
      opacity: .85;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  .profile-image {
    padding-top: 40px;
    img {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; /* future proofing */
      -khtml-border-radius: 50%; /* for old Konqueror browsers */
    }
  }
  .profile-image + div {
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &.small {
    height: 100px;
  }

  time {
    color: #fff;
    font-size: 1.25em;
  }

  @include headings(1, 6) {
    @include text-shadow(0, 1px, $color: rgba(0, 0, 0, .75));
    color: #fff;
    text-transform: none;
  }

  p {
    @include text-shadow(0, 1px, $color: rgba(0, 0, 0, .75));
    color: #fff;
  }

  .intro {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2%;

    h1 {
      font-weight: 700;
    }

    p {
      font-size: 1.75em;
      line-height: 1.25em;
      padding: .5em 0;
      text-align: center;
      margin: 0 auto;
      width: 60%;
    }
  }

  .backdrop {
    height: 100%;
    opacity: 0.65;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // This is for images added via django-filer
    figure {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }
  }

  a, a:visited, a:active, a:focus {
    color: #fff;
  }
}

.aside-col {
    .box {
        padding: 1em 2em 2em;
    }
}

.aside-col-content {
    > img {
        margin-bottom: 1em;
    }
}

.checkbox {
    margin-top: 0;
    margin-bottom: 15px;
}

.dropdown-menu {
  > li > strong {
    margin-top: 10px;
    padding: 3px 20px;
    display: block;
  }
}

.form-group.required .control-label:after {
  content:"*";
  color: $alert-danger-text;
}

.activity-stream {
  small, .small {
    line-height: 17px;
  }
}

.bookmark-widget {
  button {
    color: $text-color;
    background: transparent;
    border: none;
    &:hover {
      color: #ddd;
    }
    &[disabled] {
      color: #ddd;
    }
  }
}

.share-widget {
  button {
    border: none;
    background: transparent;
  }
}

.thumbnail-image {
  border: 1px solid $thumbnail-border;
  border-radius: $thumbnail-border-radius;
  margin: 10px 0;
}
