@import 'mixins';

.main > .container > .row > div {
    margin-top: 30px;
}

.filters-container {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}


@media (max-width: $screen-lg) {
    .project {
        @include headings(1, 6) {
            line-height: 1.618em;
        }
        h1 {
            font-size: 3vmin;
        }
        p {
            font-size: 2vmin;
        }
    }
}


@media (max-width: $screen-xs) {
    .project {
        h1 {
            font-size: 4vmin;
        }
        p {
            font-size: 3vmin;
        }
    }
}
