Dear {{ user }},<br><br>

An editorial comment has been posted on this case report at Sarcoma Central:<br><br>

<div style="margin-left: 2em;">
<em>{{ casereport }}</em><br>
    <div style="margin-left: 2em;">
    {{ comment|safe }}
    </div>
</div>

You can respond to this message in the Editorial Notes dialog box at the top right of your <a href="{{ site_url }}{{ casereport.get_absolute_url }}">case report</a>.<br><br>

Sincerely,<br><br>

Editorial Team<br>
<a href="https://www.rapidscience.org/sarcoma-central/">Sarcoma Central</a><br>
<a href="https://twitter.com/RapidScience">@RapidScience</a>
