Dear {{ user }},<br><br>

An editorial comment has been posted on this case report at Sarcoma Central:<br><br>

<div style="margin-left: 2em;">
<em>{{ casereport }}</em><br><br>
{{ comment|safe }}
</div>

You can respond to this message by replying to this email or preferably  in the Editorial Notes dialog box at the top right of your case report.<br><br>

Sincerely,<br><br>

Editorial Team<br>
<a href="https://sarcoma.rapidscience.org/">Sarcoma Central</a><br>
<a href="https://twitter.com/RapidScience">@RapidScience</a>
