{% extends 'base.html' %}{% load bootstrap3 comments discussion_tags %}

{% block content %}
    <!-- comment_detail -->
<div class="container">
<div class="row" id="discussion-detail">
    <div class="col-md-9 col-xs-12 col-md-push-2">
    {% if last_viewed_path %}
    <p><a href="{{ last_viewed_path }}">&larr; Back</a></p>
    {% endif %}
    {% if comment.title %}<h1>{{ comment.title }}</h1>{% endif %}
    <p class="small">
      Posted by
      <a href="{{ comment.user.get_absolute_url }}">
        {{ comment.user.get_full_name }}
      </a>
      | {{ comment.submit_date|date:"j M Y" }}
      | {% with edit_url=comment.get_edit_url %}
            {% if edit_url %}<a href="{{ edit_url }}">Edit</a>{% endif %}
        {% endwith %}
      <br />
      Shared with <b>{{ comment.get_viewers|join:"</b>, <b>" }}</b>
    </p>

    <p class="initial">
        {{ comment.comment|urlize|linebreaksbr }}
    </p>

    {% if comment.allow_thread and user_interaction %}
      <div id="reply-form-{{ comment.id }}">
        <h3>Add Comment</h3>
        {% get_reply_form comment %}
      </div>
    {% endif %}

    <div id="replies">
        {% render_comment_list for comment %}
    </div>

</div>
</div>
    <!-- /comment_detail -->
{% endblock content %}
