{% extends 'base.html' %}{% load bootstrap3 comments discussion_tags core_tags %}

{% block body_class %}comment-detail{% endblock %}

{% block content %}
    <!-- comment_detail -->
<div class="container">
    <div class="row" id="discussion-detail">
        <div class="col-md-8 col-xs-12 col-md-push-2">
            {% if last_viewed_path %}
            <p class="backlink"><a href="{{ last_viewed_path }}">&larr; Back</a></p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-10 col-md-push-2">
            {% bootstrap_messages %}
        </div>
        <div class="col-md-7 col-xs-10 col-md-push-2">
            {% if comment.title %}<h1>{{ comment.title }}</h1>{% endif %}
            <p class="small">
              {% if comment.shareable %}
                <i class="fa fa-unlock" title="This item has been shared outside of closed groups." aria-hidden="true"></i>
              {% else %}
                <i class="fa fa-lock" title="This item is only shared with members of this closed group." aria-hidden="true"></i>
              {% endif %}
              Discussion posted by
              <a href="{{ comment.user.get_absolute_url }}">
              {% if comment.user = request.user %}me{% else %}{{ comment.user.get_full_name }}{% endif %}
              </a>
              | {{ comment.submit_date|date:"j M Y" }}
              {% if request.user.id == comment.user_id or request.user.is_staff %}
              | {% with edit_url=comment.get_edit_url %}
                    {% if edit_url %}<a href="{{ edit_url }}">Edit</a>{% endif %}
                {% endwith %}
              {% endif %}
              <br />
              {%  display_shared_with comment request.user %}
            </p>

            <div class="initial">
                {% autoescape off %}{{ comment.comment }}{% endautoescape %}
            </div>

                <p class="tags">
                    {% display_tag_links comment %}
                </p>
            <hr />
        </div>
        <div class="col-md-1 col-xs-2 col-md-push-2 action">
          {% if comment.is_discussion and comment.shareable %}
            <a class="share-link" href="/send/discussions/threadedcomment/{{ comment.id }}"><i class="fa fa-share"></i></a>
          {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12 col-md-push-2">
            {% if comment.allow_thread and user_interaction %}
              <div id="reply-form-{{ comment.id }}">
                {% get_reply_form comment %}
              </div>
            {% endif %}
            <div id="replies">
                {% with view='discussionDetail' %}
                    {% render_comment_list for comment %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
    <!-- /comment_detail -->
{% endblock content %}
