{% extends 'base.html' %}{% load bootstrap3 %}

{% block content %}
<div class="bannerTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <h1>Edit Comment</h1>
                {% include 'core/_origin.html' %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-12 col-md-push-2">
            <form method="post" action="">
              {{ form.media }}
              {% csrf_token %}
              {% for field in form %}
                  {% if field.name == 'title' and comment.level != 0 %}
                  {% else %}
                    {% bootstrap_field field label_class='section-label' %}
                  {% endif %}
              {% endfor %}
              <button class="btn btn-primary" type="submit">
                Save
              </button>
              <a role="button" class="btn btn-default" href="{{ request.session.last_viewed_path }}">
                Cancel
              </a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
