{% comment %}
    displays an icon indicating the size of the associated threaded discussion
    for the action.action_object or root comment of a discussion
    or obj
{%  endcomment %}
<!-- discussion_count_widget.html -->
{% load discussion_tags %}
{% load core_tags %}

{% setvar "0" as comment_count %}
{% setvar "" as discussion_link %}

{% if action and action.action_object %}
    <!-- from action.action_object -->
    {% setvar action.action_object.get_content_object_url as discussion_link %}
    {% if not discussion_link %}
      {%  setvar action.action_object.get_absolute_url as discussion_link %}
    {% endif %}
    {%  get_threaded_comment_count for action.action_object as comment_count %}

{% elif obj %}
    <!-- from obj -->
    {%  setvar obj.get_absolute_url as discussion_link %}
    {%  get_threaded_comment_count for obj as comment_count %}<!-- cant seem to get_threaded_comment_count for {{ obj }} -->
    {%  if comment_count == 0 %}
    {% endif %}

{% elif comment %}
    <!-- from comment object -->
    {%  setvar comment.get_absolute_url as discussion_link %}
    {%  get_threaded_comment_count for comment as comment_count %}
{% endif %}

{%  if discussion_link %}
    <a class="comment-count {% if comment_count < 1 %}empty{% endif %}" type="button" title="Comments" href="{{ discussion_link }}">
        <i class="fa fa-comment" aria-hidden="true"></i><br />
        {%  if comment_count > 0 %} {{ comment_count }} {% endif %}
    </a>
{%  endif  %}
<!-- end discussion_count_widget.html -->
