{% load discussion_tags %}
{% comment %}
    displays an icon indicating the size of the associated threaded discussion
    for the action.action_object
{%  endcomment %}

{%  get_threaded_comment_count for action.action_object as comment_count %}

<a class="comment-count {% if comment_count == 0 %}empty{% endif %}" type="button" title="Comments" href="{{ action.action_object.get_absolute_url }}">
    <i class="fa fa-comment" aria-hidden="true"></i><br />
    {%  if comment_count > 0 %} {{ comment_count }} {% endif %}
</a>

