{% load discussion_tags %}
{% comment  %}
    displays a glyphicon indicating the size of the associated threaded discussion
    for the action.action_object
{%  endcomment %}

{%  get_threaded_comment_count for action.action_object as comment_count %}

<a style="color:{% if comment_count > 0 %}dimgrey{% else %}lightgrey{% endif %}" type="button" title="Comments" href="{{ action.action_object.get_absolute_url }}">
    <span class="glyphicon glyphicon-comment">{%  if comment_count > 0 %} {{ comment_count }} {% endif %}</span>
</a>

