{% load staticfiles thumbnail %}
<div class="hero">
  <div class="image-container">
    {% include 'projects/_institution_hero_image.html' %}
  </div>
  <div class="container">
    <div class="row">
      <div class="pull-left col-md-1 profile-image">
        {% if user.photo %}
            {% thumbnail user.photo 70x70 crop upscale as thumbnail %}
            <img src="{{ thumbnail.url }}" height="70px" width="70px">
        {% else %}
          <img class="img-circle" height="90px" width="90px" src="{% static 'img/user.jpg' %}">
        {% endif %}
      </div>
      <div class="col-md-8">
        <h1>{{ user.get_full_name }}{% if user.degrees %}, {{ user.degrees }}{% endif %} {% if edit %}{% include "accounts/_edit_pencil.html" %}{% endif %}</h1>

        <p>
          {% if user.title %}{{ user.title }}{% if user.institution %}, {% endif %}{% endif %}
          {% if user.institution %}{{ user.institution }}{% endif %}
        </p>
      </div>
    </div>
  </div>
</div>
