{% load staticfiles thumbnail %}
<div class="hero">
  <div class="image-container">
    {% if user.banner %}
      <img src="{{ user.banner.url }}" />
    {% else %}
        {% include 'projects/_institution_hero_image.html' %}
    {% endif %}
  </div>
  <div class="container">
    <div class="row">
      <div class="pull-left col-md-1 profile-image">
        {% if user.photo %}
            {% thumbnail user.photo 70x70 crop upscale as thumbnail %}
            <img src="{{ thumbnail.url }}" height="70px" width="70px">
        {% else %}
          <img class="img-circle" height="90px" width="90px" src="{% static 'img/user.jpg' %}">
        {% endif %}
      </div>
      <div class="col-md-8">
        <h1>{{ user.get_full_name }}{% if user.degrees %}, {{ user.degrees }}{% endif %} {% if edit %}{% include "accounts/_edit_pencil.html" %}{% endif %}</h1>

        <p>
          {% if user.title %}{{ user.title }}{% if user.institution %}, {% endif %}{% endif %}
          {% if user.institution %}{{ user.institution }}{% endif %}
        </p>
      </div>
      <div class="col-md-3">
          <ul class="fa-ul add-links">
              <li><a href="{% url 'discussion-create' %}"><i class="fa-li fa fa-plus-circle"></i>Discussion</a></li>
              <li><a href="{% url 'crdb:add_casereport' %}"><i class="fa-li fa fa-plus-circle"></i>Case Report</a></li>
              <li><a href="{% url 'documents:add_media' %}"><i class="fa-li fa fa-plus-circle"></i>Document / Media</a></li>
              <li><a href="{% url 'bibliography:add_book' %}"><i class="fa-li fa fa-plus-circle"></i>Reference</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
