{% load cms_tags thumbnail %}{% load static from staticfiles %}
<div class="box groups">
    <p class="section-label">Groups</p>
    <ul class="list-unstyled item-list">
      {% for project in projects %}

      <li class="clearfix row">
        <div class="col-xs-11">
          <p> <a href="{{ project.get_absolute_url }}"> <strong>{{ project.title }}</strong> </a>
            <br> <span class="small">{% if user.get_full_name in project.project_mods %}Moderator{% else %}Member{% endif %}</span>
          </p>
        </div>
        <div class="col-xs-1">
        {% if request.user in project.moderators or request.user.is_staff %}
            <div class="dropdown group-detail-dropdown">
            <button class= "btn btn-default dropdown-toggle dropdown-menu-members" id="group-detail-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </button>
                 <!-- moderator and staff actions -->
                <ul class="dropdown-menu dropdown-menu-members" aria-labelledby="group-detail-menu">
                  <li><a href="{% url 'projects:projects_edit' project.pk project.slug %}">Edit group settings</a></li>
                  <li><a href="#">Edit notifications</a></li>
                  <li><a href="{% url 'projects:projects_leave' pk=project.id user=user.id %}">Leave group</a></li>
                </ul>
            </div>
        {% elif request.user in project.active_members %}
            <div class="dropdown group-detail-dropdown">
            <button class= "btn btn-default dropdown-toggle dropdown-menu-project" id="group-detail-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </button>
                <!-- active member actions -->
                <ul class="dropdown-menu dropdown-menu-members" aria-labelledby="group-detail-menu">
                  <li><a href="#">Edit notifications</a></li>
                  <li><a href="{% url 'projects:projects_leave' pk=project.id user=user.id %}">Leave group</a></li>
                </ul>
            </div>
        {% else %}
            <div class="dropdown group-detail-dropdown">
            <button class= "btn btn-default dropdown-toggle dropdown-menu-members" id="group-detail-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </button>
                <!-- others actions -->
                <ul class="dropdown-menu dropdown-menu-members" aria-labelledby="group-detail-menu">
                  <li><a href="#">Edit notifications</a></li>
                </ul>
            </div>
        {% endif %}
          </div>

      </li>
      {% endfor %}
    </ul>
</div>
