{% load cms_tags thumbnail %}{% load static from staticfiles %}
<div class="box groups">
    <p class="section-label">Groups</p>
    <ul class="list-unstyled item-list">
      {% for project in projects %}
      <li class="clearfix">
          <p>
            <a href="{{ project.get_absolute_url }}">
              <strong>
                {{ project.title }}
              </strong>
            </a>
              <br /><span class="small">Role</span>
          </p>
      </li>
      {% endfor %}
    </ul>
</div>
