<!-- Publications -->
<div class="box">
<p class="section-label">Latest publications</p>
<ul class="list-unstyled item-list">
  <li>
    <p class="no-margin-bottom">
      <small>
        Taylor, Janelle S. <a href="">Can the Humanities Save
        Medicine, and Vice Versa?</a> <i>Anthropology Now</i>,<br>
        Volume 3, Number 2, September 2011<br>
        DOI: 10.1111/maq.12126
      </small>
    </p>
  </li>
  <li>
    <p class="no-margin-bottom">
      <small>
        Taylor, Janelle S. <a href="">Can the Humanities Save
        Medicine, and Vice Versa?</a> <i>Anthropology Now</i>,<br>
        Volume 3, Number 2, September 2011<br>
        DOI: 10.1111/maq.12126
      </small>
    </p>
  </li>
</ul>
</div>