{% extends 'accounts/accounts_base.html' %}
{% load bootstrap3 cms_tags staticfiles comments discussion_tags %}

{% block page_title %}Profile{% endblock page_title %}

{% block title %}Profile{% endblock title %}

{% block css %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/chosen/chosen.min.css' %}" media="screen">
{% endblock css %}

{% block body_class %}dashboard{% endblock %}

{% block hero %}
    {% include "accounts/_hero.html" with user=user edit=True %}
{% endblock hero %}

{% block left_column %}
    <div class="cc-box">
        <img src="{% static "images/logo-CC.png" %}" class="img-responsive"/>
        <p>Submit and search the database of case reports, N of 1 studies, and clinical trial summaries.</p>
        <div class="row">
            <div class="col-xs-6">
                <a href="{%  url 'haystac' %}" class="btn btn-primary btn-block">Search</a>
            </div>
            <div class="col-xs-6">
             <a href="{%  url 'add_casereport' %}" class="btn btn-primary btn-block">Submit</a>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block main_content %}
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"{% if tab == 'activity' %} class="active"{% endif %}>
      <a href="{% url 'dashboard' %}">Activity</a>
    </li>
    <li role="presentation"{% if tab == 'discussions' %} class="active"{% endif %}>
      <a href="{% url 'dashboard_tab' tab='discussions' %}">Discussions</a>
    </li>
    <li role="presentation"{% if tab == 'casereports' %} class="active"{% endif %}>
      <a href="{% url 'dashboard_tab' tab='casereports' %}">Case Reports</a>
    </li>
    <li role="presentation"{% if tab == 'documents' %} class="active"{% endif %}>
      <a href="{% url 'dashboard_tab' tab='documents' %}">Docs/Media</a>
    </li>
    <li role="presentation"{% if tab == 'bibliography' %} class="active"{% endif %}>
      <a href="{% url 'dashboard_tab' tab='bibliography' %}">Bibliography</a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane{% if tab == 'activity' %} active{% endif %}" id="activity">
    {% if tab == 'activity' %}
      {% bootstrap_messages %}
      {% include 'accounts/_tab_filter.html' %}
      <hr style="margin-top: 0;">
      {% include page_template %}
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane{% if tab == 'discussions' %} active{% endif %}" id="discussions">
    {% if tab == 'discussions' %}
      {% bootstrap_messages %}
      {% include 'accounts/_tab_filter.html' %}
      <hr style="margin-top: 0;">
      {% with view='tab-content' %}
          {% include 'comments/list.html' %}
      {% endwith %}
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane{% if tab == 'casereports' %} active{% endif %}" id="casereports">
    {% if tab == 'casereports' %}
      {% bootstrap_messages %}
      {% include 'accounts/_tab_filter.html' %}
      <hr style="margin-top: 0;">
      {% for obj in case_reports %}
          {% include "casereport/listing_preview.html" %}
      {% endfor %}
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane{% if tab == 'documents' %} active{% endif %} tab-documents" id="dashboard">
    {% if tab == 'documents' %}
      {% bootstrap_messages %}
      {% include 'accounts/_tab_filter.html' %}
      <hr style="margin-top: 0;">
      {% for obj in documents %}
          {% include "documents/listing_preview.html" %}
      {% endfor %}
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane{% if tab == 'bibliography' %} active{% endif %}" id="bibliography">
    {% if tab == 'bibliography' %}
      {% bootstrap_messages %}
      {% include 'accounts/_tab_filter.html' %}
      <hr style="margin-top: 0;">
      {% for ref in references %}
        {% include 'bibliography/_ref_tab.html' with obj=ref user=ref.user %}
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock main_content %}

{% block js-footer %}{{ block.super }}
  <script src="{% static 'js/vendor/chosen/chosen.jquery.min.js' %}"></script>
  <script>
    $(function() {
      var params = [], hash;
          var q = document.URL.split('?')[1];
          if(q != undefined){
              q = q.split('&');
              for(var i = 0; i < q.length; i++){
                  hash = q[i].split('=');
                  params.push(hash[1]);
                  params[hash[0]] = hash[1];
              }
      }
      if (typeof params.content_type != "undefined" && params.content_type !== "") {
        var ct_element = $("#content-type-dropdown").siblings(".dropdown-menu").find("a[data-ct-filter='" + params.content_type + "']");
        $("#content-type-dropdown #selected-option").text($(ct_element).text());
        $("#id_content_type").val(params.content_type);
      } else {
        $("#content-type-dropdown").siblings(".dropdown-menu").find(".all").click();
      }
      if (typeof params.project != "undefined" && params.project !== "") {
        var pr_element = $("#projects-dropdown").siblings(".dropdown-menu").find("a[data-project-filter='" + params.project + "']");
        $("#projects-dropdown #selected-option").text($(pr_element).text());
        $("#id_project").val(params.project);
      } else {
        $("#projects-dropdown").siblings(".dropdown-menu").find(".all").click();
      }
      $("#content-type-dropdown").siblings(".dropdown-menu").find("a").on("click", function(e) {
        e.preventDefault();
        $(this).parents(".dropdown").find("#selected-option").text($(this).text());
        $("#id_content_type").val($(this).data("ct-filter"));
        $(".tab-pane.active .filter-form").submit();
      });
      $("#projects-dropdown").siblings(".dropdown-menu").find("a").on("click", function(e) {
        e.preventDefault();
        $(this).parents(".dropdown").find("#selected-option").text($(this).text());
        $("#id_project").val($(this).data("project-filter"));
        $(".tab-pane.active .filter-form").submit();
      });
      $("#id_user_activity_only").change(function(){
        $(".tab-pane.active .filter-form").submit();
      });
    });
  </script>

{% endblock js-footer %}
