{% extends 'accounts/accounts_base.html' %}
{% load bootstrap3 cms_tags staticfiles comments discussion_tags %}

{% block page_title %}Profile{% endblock page_title %}

{% block title %}Profile{% endblock title %}

{% block css %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'js/vendor/chosen/chosen.min.css' %}" media="screen">
{% endblock css %}

{% block body_class %}dashboard{% endblock %}

{% block hero %}
    {% include "accounts/_hero.html" with user=user edit=True %}
{% endblock hero %}

{% block left_column %}
    <div class="cc-box">
        <img src="{% static "images/logo-CC.png" %}" class="img-responsive"/>
        <p>Submit and search the database of case reports, N of 1 studies, and clinical trial summaries.</p>
        <div class="row">
            <div class="col-xs-6">
                <a href="{%  url 'haystac' %}" class="btn btn-primary btn-block">Search</a>
            </div>
            <div class="col-xs-6">
             <a href="{%  url 'add_casereport' %}" class="btn btn-primary btn-block">Submit</a>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block main_content %}
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"{% if tab == 'activity' %} class="active"{% endif %}>
      <a href="{% url 'dashboard' %}">Activity</a>
    </li>
    <li role="presentation"{% if tab == 'discussions' %} class="active"{% endif %}>
      <a href="{% url 'dashboard_tab' tab='discussions' %}">Discussions</a>
    </li>
    <li role="presentation"{% if tab == 'casereports' %} class="active"{% endif %}>
      <a href="{% url 'dashboard_tab' tab='casereports' %}">Case Reports</a>
    </li>
    <li role="presentation"{% if tab == 'documents' %} class="active"{% endif %}>
      <a href="{% url 'dashboard_tab' tab='documents' %}">Docs/Media</a>
    </li>
    <li role="presentation"{% if tab == 'bibliography' %} class="active"{% endif %}>
      <a href="{% url 'dashboard_tab' tab='bibliography' %}">Bibliography</a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane{% if tab == 'activity' %} active{% endif %}" id="activity">
    {% if tab == 'activity' %}
      {% bootstrap_messages %}
      <form class="form-inline" action="" method="get">
        {% bootstrap_field filter_form.content_type show_label=False %}
        {% bootstrap_field filter_form.project show_label=False %}
        {% bootstrap_field filter_form.user_activity_only %}
        <input class="profile-update btn btn-primary" type="submit" value="Filter"/>
      </form>
      <hr>
      {% include page_template %}
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane{% if tab == 'discussions' %} active{% endif %}" id="discussions">
    {% if tab == 'discussions' %}
      {% bootstrap_messages %}
      {% with view='tab-content' %}
          {% include 'comments/list.html' %}
      {% endwith %}
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane{% if tab == 'casereports' %} active{% endif %}" id="casereports">
    {% if tab == 'casereports' %}
      {% bootstrap_messages %}

      {% for obj in case_reports %}
          {% include "casereport/listing_preview.html" %}
      {% endfor %}
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane{% if tab == 'documents' %} active{% endif %} tab-documents" id="dashboard">
    {% if tab == 'documents' %}

      {% for obj in documents %}
          {% include "documents/listing_preview.html" %}
      {% endfor %}
    {% endif %}
  </div>
  <div role="tabpanel" class="tab-pane{% if tab == 'bibliography' %} active{% endif %}" id="bibliography">
    {% if tab == 'bibliography' %}
      {% bootstrap_messages %}
      {% for ref in references %}
        {% include 'bibliography/_reference.html' with obj=ref %}
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock main_content %}

{% block js-footer %}{{ block.super }}
  <script src="{% static 'js/vendor/chosen/chosen.jquery.min.js' %}"></script>
{% endblock js-footer %}
