{% extends 'base.html' %}{% load bootstrap3 %}

{% load cms_tags %}

{% block page_title %}Login{% endblock page_title %}

{% block title %}Login{% endblock title %}

{% block content %}
<div id="login-form">
<div class="login-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-2">
                <h1>Sign in</h1>
            </div>
            <div class="col-md-4 col-md-push-2 text-right">
                <p>Not a member? <a href="{% url 'register' %}">Register now</a>.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="plugin-form row">
        <div class="col-md-8 col-md-push-2">
            {% bootstrap_messages %}
            <form class="rpds-form" method="post" action="{% url 'login' %}">
              {% csrf_token %}
              {% for field in form %}
                  <div class="fieldWrapper">
                      <h4><label for="{{ field.id_for_label }}">{% if field.id_for_label == 'id_remember' %}<p class="f-title">{{ field }} {{ field.label }}</p>{% else %} {{ field.label }}{% endif %}
                         {% if field.field.required %} <span class="required">*</span>{% endif %}
                      </label></h4>
                      {{ field.errors }}
                      {% if field.id_for_label == 'id_remember' %}{% else %} {{ field }}{% endif %}
                      {% if field.help_text %}
                      <p class="helptext">{{ field.help_text|safe }}</p>
                      {% endif %}
                  </div>
              {% endfor %}


              <div class="helpText"><a href="{% url 'password_reset' %}">Forgot password?</a></div>
              <input type="hidden" name="next" value="{{ next }}" />
              <div class="signin-buttons">
                  <button type="submit" class="btn btn-primary btn-lg">
                    Sign in
                  </button>
                  <a class="btn btn-default btn-lg" href="{% url 'pages-root' %}">
                    Cancel
                  </a>
              </div>
            <div class="helpText">By clicking "Sign In", you agree to our <a href="{% url 'terms_of_use' %}">Terms of Use</a>.</div>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    $("#checkbox").on("change", function(){
    alert("The checkbox with the ID '" + this.id + "' changed");
    });
</script>
{% endblock content %}



