<h2>New Member Tips</h2>
<br/>
<p> This is your <b>Personal Dashboard</b> -- a private space for your content and messages. For basic information about this space and your public profile, see the welcome email you received from Sarcoma Central when you registered. See also our <a href="http://www.rapidscience.org/collaboration-platform/FAQs/" target="_blank"> FAQs </a> and <a href="http://www.rapidscience.org/collaboration-platform/" target="_blank"> 5-minute video tutorial</a> for info about posting content, sharing permissions, joining and creating groups (open and closed), and submitting anonymized patient data.
</p>
<p>This <b>Activity Feed</b> includes all the notifications and content shared with you personally and with groups you belong to. You will automatically receive a weekly digest of new content shared with you. Or, you can receive emails as soon as content is shared with you, if you wish, by changing your preference in your profile (click on your name in top menu).
</p>
<p> If you have questions or comments, please contact us at <a href="mailto:support@rapdscience.org">​​support@rapidscience.org</a>.
</p>
