<h2>New Member Tips</h2>
<br/>
<p>This is your personal dashboard -- a private space for your content and messages.</p>
<p>To view or edit your profile which members can see, click your name (above right) for drop-down menu.
Please add your bio, research interests, and photo to foster interaction and trust.
</p>
<p>For other suggestions on getting started (joining or forming groups, etc.),
see the email sent today from Rapid Science.
If you have questions or comments, please contact us at <a href="mailto:support@rapdscience.org">​​support@rapidscience.org</a>.
</p>
