{% extends 'single_col.html' %}{% load bootstrap3 cms_tags %}

{% block hero %}
    {% include "accounts/_hero_edit.html" with user=user %}
{% endblock hero %}

{% block body_class %}edit-profile{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="plugin-form">
                <p>
                  Need to <a href="{% url 'password_change' %}">change your password</a>?
                </p>
                <form method="post" enctype="multipart/form-data" action="{% url 'profile_edit' %}">
                    {% csrf_token %}
                  {% bootstrap_form form %}
                    <div class="buttonbar">
                        <button class="btn btn-primary btn-lg" type="submit">
                          Save
                        </button>
                        <a role="button" class="btn btn-default btn-lg" href="{{ request.META.HTTP_REFERER }}">
                          Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main_content %}
