{% extends 'single_col.html' %}{% load bootstrap3 %}
{% load cms_tags staticfiles %}

{% block page_title %}Profile for {{ user.get_full_name }}{% endblock page_title %}

{% block title %}Profile{% endblock title %}

{% block body_class %}profile-public{% endblock %}

{% block hero %}
    {% include "accounts/_hero2.html" with user=user %}
{% endblock hero %}

{% block main_content %}
    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            {% if user.bio %}
                <div class="section">
                    <p class="section-label">Biography</p>
                    {{ user.bio|linebreaks }}
                </div>
            {% endif %}
            {% if user.research_interests %}
                <div class="section">
                    <p class="section-label">Research Interests</p>
                    <p>{{ user.research_interests }}</p>
                </div>
            {% endif %}
            {% if projects %}
                <div class="section">
                    <p class="section-label">Groups</p>
                    <ul class="fa-ul">
                        {% for project in projects %}
                            <li><i class="fa-li fa fa-angle-right" aria-hidden="true"></i>
                                <a href="{% url 'projects:projects_detail' project.id project.slug %}">{{ project.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if user.id == request.user.id %}
                <div class="buttonbar">
                    <a role="button" class="btn btn-primary btn-lg" href="{% url 'profile_edit' %}">
                      Edit Profile
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock main_content %}
