{% extends 'single_col.html' %}{% load bootstrap3 cms_tags thumbnail %}

{% block hero %}
    {% include "accounts/_hero_edit.html" with user=user %}
{% endblock hero %}

{% block body_class %}edit-profile{% endblock %}

{% block main_content %}
        <form method="post" enctype="multipart/form-data" action="{% url 'profile_edit' %}">
        {% csrf_token %}
            <div class="plugin-form">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                            <p>
                              Need to <a href="{% url 'password_change' %}">change your password</a>?
                            </p>
                    </div>
                </div>
                {% for field in form %}
                    <div class="row profile-field" id="wrapper-{{ field.auto_id }}">
                        <div class="col-md-2 col-md-offset-1 profile-thumbnail">
                            {% if field.name == 'photo' %}
                                {% if user.photo %}
                                    {% thumbnail user.photo 86x86 crop upscale as thumbnail %}
                                    <img src="{{ thumbnail.url }}" class="photo" />
                                {% endif %}
                            {% elif field.name == 'banner' %}
                                {% if user.banner %}
                                    {% thumbnail user.banner 86x86 upscale as thumbnail2 %}
                                    <img src="{{ thumbnail2.url }}" />
                                {% endif %}
                            {% endif %}

                        </div>
                        <div class="col-md-6">
                            {% if field.name == 'digest_prefs' %}
                                <div class="form-group required"><h4 class="control-label">Email Notifications</h4></div>
                                <p>Your choices can be modified for specific groups you join.</p>
                            {%  endif %}
                            {% bootstrap_field field label_class='section-label' %}
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="buttonbar">
                            <button class="btn btn-primary btn-lg" type="submit">
                              Save
                            </button>
                            <a role="button" class="btn btn-default btn-lg" href="{{ request.META.HTTP_REFERER }}">
                              Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
{% endblock main_content %}

{% block js-footer %}
<script type="text/javascript">
  (function($) { $(function() {
      $("label[for='id_institution']").parent().addClass('required');
      $("#id_new_institution").click(function(){
          if ($(this).is(':checked')) {
              $("[id^='wrapper-id_institution_']").slideDown()
          } else {
              $("[id^='wrapper-id_institution_']").slideUp()
          }
      })
          //$("#wrapper-id_digest_prefs").before("<p>EMAIL NOTIFICATIONS (your choices can be modified for specific groups you join and for specific individuals)</p>");
  }); })(jQuery);
</script>
{% endblock %}
