{% extends 'single_col.html' %}{% load bootstrap3 cms_tags %}

{% block hero %}
    {% include "accounts/_hero.html" with user=user %}
{% endblock hero %}

{% block body_class %}edit-profile{% endblock %}

{% block main_content %}
<div class="plugin-form">
    <h2>Edit your profile</h2>
    <p>
      Need to <a href="{% url 'password_change' %}">change your password</a>?
    </p>
    <form method="post" enctype="multipart/form-data" action="{% url 'profile_edit' %}">
        {% csrf_token %}
      {% bootstrap_form form %}
      <fieldset>
        <legend>Your Projects</legend>
        {% bootstrap_formset formset layout='horizontal' %}
      </fieldset>
        <div class="buttonbar">
            <button class="btn btn-primary btn-lg" type="submit">
              Save
            </button>
            <a role="button" class="btn btn-default btn-lg" href="{{ request.META.HTTP_REFERER }}">
              Cancel
            </a>
        </div>
    </form>
</div>
{% endblock main_content %}
