{% load core_tags %}
{% user_can_link obj as can_link %}
{% if obj.title %}
  <h4>
      {% if can_link %}<a href="{{ obj.get_absolute_url }}">{% endif %}
          {{ obj.title }}
      {% if can_link %}</a>{% endif %}
  </h4>
{% endif %}
{% with truncated_comment=obj.comment|truncatewords:60 %}
<div id="c{{ obj.id }}" class="more small">
  {% autoescape off %}{{ truncated_comment }}{% endautoescape %}
</div>
{% endwith %}
{% if action.verb == 'shared' %}
    <p class="small meta">
        Posted by
        <a href="{% url 'profile' action.action_object.user.pk  %}">{% if request.user == action.action_object.user %} me {% else %} {{ action.action_object.user }} {% endif %}</a>
        | {{ obj.submit_date|date:"j M Y" }}<br />
        {% display_shared_with obj request.user %}
    </p>
{% endif %}
