{% load core_tags %}
{% if obj.title %}
  <h4><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h4>
{% endif %}
{% with truncated_comment=obj.comment|truncatewords:20 %}
<div id="c{{ obj.id }}" class="{% if action.verb != 'reply' %}more {% endif %}{% if action.verb == 'reply' %}reply {% endif %}small">
  {% autoescape off %}{{ obj.comment }}{% endautoescape %}
</div>
{% endwith %}
{% if action.verb == 'shared' %}
    <p class="small meta">
        Posted by
        <a href="{% url 'profile' action.actor_object_id  %}">{{ action.actor }}</a>
        | {{ obj.submit_date|date:"j M Y" }}<br />
      {% autoescape off %}{% display_shared_with obj request.user %}{% endautoescape %}
    </p>
{% endif %}