{% extends "single_col.html" %}
{% load i18n %}

{% block title %}Delete your comment{% endblock %}

{% block main_content %}
  {% load comments %}
  <h4>{{ comment }}</h4>
  <form method="post" action="">
    {% csrf_token %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
      Are you sure you want to delete your comment?
      If you do, any replies to this comment will also be deleted.
    </div>
    <input class="profile-update btn btn-primary" type="submit" value="Delete"/>
    <a class="profile-cancel form-href btn btn-default" href="{{ comment.get_absolute_url }}">Cancel</a>
  </form>
{% endblock main_content %}
