{% load bootstrap3 comments discussion_tags %}

<div class="plugin-form comment-form">
  <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {% if form.title %}
    {% bootstrap_field form.title %}
    {% endif %}
    {{ form.honeypot }}
    {{ form.reply_to }}
    {% bootstrap_field form.content_type %}
    {% bootstrap_field form.object_pk %}
    {% bootstrap_field form.timestamp %}
    {% bootstrap_field form.security_hash %}
    <input type="hidden" name="next" value="{{ next }}"/>
    <div class="form-group">
        <label class="sr-only control-label" for="id_comment">Comment</label>
        <textarea class="form-control comment-field remaining-characters" cols="40" id="id_comment" maxlength="2000" name="comment" rows="5" title=""></textarea>
        <div class="helpText">
            <button class="btn btn-primary" type="submit">
              {{ button_label|default:"Post" }}
            </button><!-- No Space
            --><a role="button" class="btn btn-default cancel-button-collapse" href="#">
              Cancel
            </a>
            <div class="character-count">2000/2000 characters</div>
        </div>
    </div>
  </form>
</div>
