{% load bootstrap3 comments discussion_tags %}

<div class="plugin-form comment-form">
  <form action="{% comment_form_target %}" method="POST" class="rpds-form">
    {{ form.media }}
    {% csrf_token %}
    {% if form.title %}
    {% bootstrap_field form.title %}
    {% endif %}
    {{ form.honeypot }}
    {{ form.reply_to }}
    {% bootstrap_field form.content_type %}
    {% bootstrap_field form.object_pk %}
    {% bootstrap_field form.timestamp %}
    {% bootstrap_field form.security_hash %}
    <input type="hidden" name="next" value="{{ next }}"/>
    <h4><label class="control-label" for="id_comment">Add Comment</label></h4>
    {% bootstrap_field form.comment layout='inline' %}
    {% buttons submit='Post' reset="Clear" %}{% endbuttons %}
    </form>
</div>
