{% load comments discussion_tags core_tags %}
<div class="replies">
<div id="{{ comment.id }}" class="comment-item">
  <div class="row">
    <div class="col-md-11">
      {% if comment.title %}
      <h4>
        <a href="{{ comment.get_absolute_url }}">
        {% autoescape off %}{% if highlighted.title %}{{ highlighted.title.0 }}{% else %}{{ comment.title }}{% endif %}{% endautoescape %}
        </a>
      </h4>
      {% endif %}

      {% if view == 'tab-content' %}
          <p class="small">
              {% if crcomments != 'True' %}Posted by{% endif %}
            <a href="{{ comment.user.get_absolute_url }}">
              {% if request.user == comment.user %} me {% else %} {{ comment.user.get_full_name }} {% endif %}
            </a>
            | {{ comment.submit_date|date:"j M Y" }}
            {% if request.user.id == comment.user_id or request.user.is_staff %}
            | {% with edit_url=comment.get_edit_url %}
                  {% if edit_url %}<a href="{{ edit_url }}">Edit</a>{% endif %}
              {% endwith %}
            {% endif %}<br />
            {% display_shared_with comment request.user %}
          </p>
          <div class="more">{% autoescape off %}{{ comment.comment }}{% endautoescape %}</div>
          <p class="tags">
            {% display_tag_links comment %}
          </p>
      {% else %}
          <p class="small">
              <strong>
                  {{ comment.user.get_full_name }}
              </strong>
            | {{ comment.submit_date|date:"j M Y" }}
            {% if request.user.id == comment.user_id or request.user.is_staff %}
            | {% with edit_url=comment.get_edit_url %}
                  {% if edit_url %}<a href="{{ edit_url }}">Edit</a>{% endif %}
              {% endwith %}
            {% endif %}
          </p>
          <div class="more">{% autoescape off %}{{ comment.comment }}{% endautoescape %}</div>
      {% endif %}

    </div>
    <div class="col-md-1">
      {% if comment.is_discussion %}
        {% if expand_comments %} <!-- count ommited because we're expanding the whole discussion -->
        {%  else %}
          {% include 'discussions/discussion_count_widget.html' %}
         {% endif %}
        {% if user != comment.get_poster %}
          {% if project %}
          <form class="bookmark-form" method="POST" action="{% toggle_bookmark_url comment project %}">
          {% else %}
          <form class="bookmark-form" method="POST" action="{% toggle_bookmark_url comment user %}">
          {% endif %}
          {% csrf_token %}
          <input type="hidden" name="{% if project %}group{% else %}dashboard{% endif %}" value="on" />
          <input type="hidden" name="content_type" value="{{ comment.get_content_type_id }}" />
          <input type="hidden" name="content_id" value="{{ comment.id }}" />
          <a href="#" class="bookmark-trigger" data-toggle="tooltip" title="Save Bookmark"><i class="fa fa-star" aria-hidden="true"></i></a>
          </form>
        {% endif %}
      <a class="share-link" href="/send/discussions/threadedcomment/{{ comment.id }}"><i class="fa fa-share"></i></a>
      {% endif %}
    </div>
  </div>

  {% if comment.allow_thread and user_interaction and view != 'tab-content' %}
    <a data-toggle="collapse" href="#reply-form-{{ comment.id }}">Reply</a>
    <div id="reply-form-{{ comment.id }}" class="collapse">
      {% get_reply_form comment %}
    </div>
  {% endif %}
  {% if expand_comments %}
      <!-- show the children -->
      <p>{% render_comment_list for comment %}</p>
      {%  else %}
      <!-- comments not expanded -->
  {%  endif %}

{%  comment  %}{% render_comment_list for comment %} {%  endcomment %}
</div>
</div>
<hr>
