{% extends 'emails/base_email.html' %}

{% block content %}
<strong style="font-size: 21px;">Hi {{ user.get_full_name }},</strong><br><br>

Welcome to the community! Your registration has been approved for the CHCI Medical Humanities Research Network.<br><br>

Our goal is to foster collaboration among scholars working in humanities departments and their colleagues in the health sciences.
We encourage you to post questions to the group, and upload articles or documents that others might find interesting, inspiring, or relevant as they work to meet these goals.<br><br>

To get started, <a href="https://{{ site.domain }}{% url 'profile_edit' %}">log on and create your profile</a>.
Posting your biographical information and photo will help to foster interaction and trust, attributes of successful communities.<br><br>

Once you’re on the site, take a look around at what has been posted, and consider sharing your thoughts or uploading articles of your own.<br><br>

If you have questions or technical difficulties, or ideas regarding how the site can facilitate your work on CHCI, please contact us at <a href="mailto:info@rapidscience.org">info@rapidscience.org</a>.<br><br>

Happy collaborating!<br><br>

Warm Regards,<br><br>

The Rapid Science Team<br><br>

"In the long history of humankind: those who learned to collaborate and improvise most effectively have prevailed." - Charles Darwin
{% endblock content %}
