{% load cms_tags static %}
<div class="container">
  <div class="logos">
      <a href="http://www.rapidscience.org/" class="img" target="_blank">
        <img src="{% static 'img/footer-logo.png' %}" class="img-responsive center-block" />
      </a>
  </div>
  <p>
    &copy; 2017 Rapid Science |
    <a href="mailto:info@rapidscience.org">Contact</a> |
    <a href="https://www.linkedin.com/company/rapid-science" class="img" target="_blank">
        <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="https://twitter.com/RapidScience" class="img" target="_blank">
        <i class="fa fa-twitter"></i>
  </a><br />
  Rapid Science is a nonprofit 501(c)3 company based in Brooklyn, NY<br />
  CC-BY 4.0 License</p>
  <p>Generous support was provided by Bayer, Eli Lilly, EMD Serono, Janssen Pharmaceutical, and the National Institutes of Health.</p>
</div>
