{% extends "right_col.html" %}{% load bootstrap3 cms_tags staticfiles core_tags %}

{% block hero %}
<div class="hero home">
  <div class="backdrop">
    {% placeholder 'hero-image' %}
  </div>
  <div class="intro container text-center">
    {% placeholder 'hero-text' %}
  </div>
</div>
{% endblock hero %}

{% block main_content %}
  <div class="box">
    <!-- Feature Item -->
    <div class="row">
      <div class="feature-header col-md-12">
        {% bootstrap_messages %}
        {% placeholder 'homepage-intro' %}
      </div>
    </div>
    {% placeholder 'content' %}
  </div>
{% endblock main_content %}

{% block right_column %}
  {% blog_widget %}
  {% include '_twitter.html' %}
{% endblock right_column %}

{% block js-header %}{{ block.super }}
  {% include '_google_site_name.html' %}
{% endblock js-header %}
